* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
.wrapper {
  display: inline-block;
  width: 382px;
  background: #3b3b3b;
}
.calendar {
  padding: 10px;
  color: #fff;
  background: #3b3b3b;
}

.time {
  padding: 20px;
  height: 110px;
  color: #fff;
  text-align: left;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  &__text {
    font-size: 40px;
    font-weight: lighter;
  }
  &__date {
    color: #a6d8ff;
    font-size: 14px;
    cursor: pointer;
  }
}

.date-wrapper{
  height: 264px;
  overflow: hidden;
}

.week-list {
  margin: 0 0 2px;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 2px;
  span {
    text-align: center;
    line-height: 36px;
  }
}

.date-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 2px;
  overflow: hidden;
  &.is-show{
    animation: show 0.2s both;
  }
  &:hover {
    .item {
      &:before {
        display: none;
      }
      &:hover {
        position: relative;
        border-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  .item {
    &:hover {
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -500px 0 0 -500px;
        width: 1000px;
        height: 1000px;
        background-image: radial-gradient(
          transparent 0 10px,
          #3b3b3b 65px 100%
        );
        opacity: 1;
        content: "";
        pointer-events: none;
      }
    }
    &.is-active {
      span {
        height: 32px;
        color: #fff;
        line-height: 32px;
        outline: solid 2px #0078d7;
        box-sizing: border-box;
      }
    }
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 36px;
  font-size: 14px;
  border: solid 2px rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  cursor: default;
  transition: 0.2s;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3b3b3b;
    pointer-events: none;
    transition: 0.2s;
    content: "";
  }
  &:active {
    span {
      height: 32px;
      color: #fff;
      line-height: 32px;
      outline: solid 2px rgba(255, 255, 255, 0.6);
    }
  }
  &.is-active {
    span {
      height: 32px;
      color: #fff;
      line-height: 32px;
      outline: solid 2px #0078d7;
      box-sizing: border-box;
    }
  }
  &.is-current {
    span {
      width: 46px;
      height: 32px;
      color: #fff;
      line-height: 30px;
      background: #0078d7;
      border: solid 2px #3b3b3b;
      box-sizing: border-box;
      outline: solid 2px #0078d7;
    }
    &:hover {
      span {
        outline: solid 2px rgb(128, 169, 250);
      }
    }
  }
  &.is-disabled {
    color: rgba(255, 255, 255, 0.3);
  }
  span {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 36px;
    text-align: center;
    line-height: 36px;
    &:after {
      position: absolute;
      top: -6px;
      left: -6px;
      width: 54px;
      height: 40px;
      content: "";
    }
  }
}




.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.change-date {
  margin: 0 0 0 10px;
  color: rgba(255, 255, 255, 0.9);
  cursor: default;

  &:hover {
    color: #fff;
  }
}

.button {
  display: flex;
}

button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  outline: 0;
  height: 20px;
  margin: 0 14px 0 20px;
}

.arrow {
  width: 10px;
  height: 10px;
  border-left: solid 1px rgba(255, 255, 255, 0.6);
  border-top: solid 1px rgba(255, 255, 255, 0.6);
}

button:hover .arrow {
  border-color: rgba(255, 255, 255, 0.9);
}

.arrow--up {
  transform: rotate(45deg);
  transform-origin: left bottom;
}

.arrow--down {
  transform: rotate(-135deg);
}

.month-list {
  //display: grid;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  height: 264px;
  animation: show 0.2s both;
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.month-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px transparent;
  box-sizing: border-box;
  cursor: default;
  &:hover {
    border-color: rgba(255, 255, 255, 0.3);
  }
  &.is-current {
    color: #fff;
    background: #0078d7;
  }
  &.is-disabled {
    color: rgba(255, 255, 255, 0.3);
  }
}
