body {
  background: #000;
  font: 12px/1.8 \5fae\8f6f\96c5\9ed1;
}
@mixin arrow($width1, $width2, $color, $pos) {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border-style: dashed;
  border-color: transparent;
  border-width: $width1 $width2;
  border-#{$pos}-color: $color;
  content: "";
}
a {
  text-decoration: none;
}
.camera {
  width: 700px;
  height: 350px;
  background: #ccc;
  border-radius: 5px;
  position: relative;
  margin: 50px auto;
  background-image: linear-gradient(
    to right,
    #ababab,
    #d8d8d8 2%,
    #969593 8%,
    #cac9c6 13%,
    #cac9c6 89%,
    #838383 91%,
    #818181 93%,
    #d8d8d8 96%,
    #8e8e90 100%
  );
  box-shadow: 1px 0 3px 1px rgba(255, 255, 255, 0.2) inset,
    0 5px 1px -2px rgba(255, 255, 255, 0.5) inset;
}
.camera:after {
  width: 80px;
  height: 18px;
  position: absolute;
  top: -18px;
  right: 80px;
  content: "";
  background: #bcbcbc;
  border-radius: 3px 3px 0 0;
  background-image: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 5px,
      rgba(0, 0, 0, 0.1) 5px,
      rgba(0, 0, 0, 0.1) 6px
    ),
    linear-gradient(to right, #989898, #e1e1e1, #989898);
}
.camera:before {
  position: absolute;
  background: linear-gradient(
    to right,
    #151515,
    #343434 2%,
    #2a2a2a 8%,
    #2a2a2a 89%,
    #131313 91%,
    #343434 93%,
    #515151 96%,
    #272728 100%
  );
  width: 100%;
  height: 80%;
  top: 12%;
  content: "";
}
.camera a {
  color: #818181;
}
.camera-main {
  width: 70%;
  height: 86%;
  background-color: #212224;
  border-radius: 5px;
  position: absolute;
  top: 8%;
  left: 5%;
  box-shadow: 1px 0 3px 1px rgba(255, 255, 255, 0.2) inset,
    0 5px 1px -2px rgba(255, 255, 255, 0.5) inset;
  background-image: to right, #29292d, #212121 10%;
}
.screen {
  width: 80%;
  height: 90%;
  position: absolute;
  background-color: #000;
  top: 5%;
  left: 15%;
  border-radius: 5px;
  box-shadow: 1px 0 3px 1px rgba(255, 255, 255, 0.2) inset,
    0 5px 1px -2px rgba(255, 255, 255, 0.2) inset,
    0 -3px 1px -1px rgba(255, 255, 255, 0.1) inset;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen-pic {
  width: 93%;
  height: 90%;
  background-size: cover;
  background-position: center;
}

.menu {
  left: 5%;
  top: 15%;
  position: absolute;
}
.menu a {
  background: #000;
  height: 22px;
  width: 50px;
  border-radius: 3px;
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  line-height: 22px;
  font-weight: bold;
  background-image: linear-gradient(
      to bottom,
      transparent 2px,
      #000 2px,
      #000 20px,
      transparent 20px
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.06),
      rgba(255, 255, 255, 0.3)
    );
  margin: 0 0 18px;
  border: solid 1px #000;
}
.menu a:before,
.button:before {
  content: "";
  height: 16px;
  background: rgba(255, 255, 255, 0.2);
  width: 2px;
  position: absolute;
  left: 0;
  top: 3px;
}
.menu a span {
  transform: scale(0.9);
  display: inline-block;
}
.button {
  position: absolute;
  width: 74px;
  height: 22px;
  background: #000;
  border-radius: 3px;
  top: 60px;
  right: 86px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}
.button a {
  flex: 1;
  font-weight: bold;
}
.button a:nth-child(2) {
  text-align: right;
}
.button:before {
  box-shadow: 71px 0 0 0 rgba(255, 255, 255, 0.2);
  left: 1px;
}
.button:after {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  height: 70%;
  width: 1px;
  content: "";
  left: 50%;
  top: 10%;
}
.disc {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #1f1f1f;
  position: absolute;
  right: 11%;
  top: 35%;
  box-shadow: 0 0 2px 1px #000, 0 5px 1px -2px rgba(255, 255, 255, 0.2) inset,
    0 -3px 1px -1px rgba(255, 255, 255, 0.1) inset;
  .arrow {
    position: absolute;
    cursor: pointer;
    &-top {
      top: 1px;
      left: 39px;

      &:before {
        top: 1px;
        left: 0;
        @include arrow(10px, 7px, rgba(255, 255, 255, 0.2), bottom);
      }
      &:after {
        top: 0;
        left: 0;
        @include arrow(10px, 7px, #000, bottom);
      }
    }
    &-bottom {
      bottom: 18px;
      left: 40px;

      &:before {
        top: -1px;
        left: 0;
        @include arrow(10px, 7px, rgba(255, 255, 255, 0.2), top);
      }
      &:after {
        top: 0;
        left: 0;
        @include arrow(10px, 7px, #000, top);
      }
    }
    &-left {
      top: 40px;
      left: -1px;

      &:before {
        top: 1px;
        @include arrow(7px, 10px, rgba(255, 255, 255, 0.2), right);
      }
      &:after {
        top: 0;
        left: 0;
        @include arrow(7px, 10px, #000, right);
      }
    }
    &-right {
      top: 40px;
      right:18px;

      &:before {
        top: 1px;
        @include arrow(7px, 10px, rgba(255, 255, 255, 0.2), left);
      }
      &:after {
        top: 0;
        left: 0;
        @include arrow(7px, 10px, #000, left);
      }
    }
  }
}
.btn-ok,
.opt-box a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 2px 1px #000, 1px 5px 1px -2px rgba(255, 255, 255, 0.25) inset;
  border: solid 1px #000;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
}
.btn-ok {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.opt-box {
  position: absolute;
  top: 70%;
  right: 70px;
}
.opt-box a {
  display: inline-block;
  margin: 0 8px;
}
.icon-delete{
  display: block;
  position: relative;
  top: 12px;
  left: 9px;
  width: 10px;
  height: 10px;
  border: solid 2px #888;
  border-radius: 2px;
  background-image: linear-gradient(to right, transparent 2px, #888 2px 4px,transparent 4px 6px,#888 6px 8px,transparent 8px);
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 100% 6px;
  opacity: .8;
  &:before{
    position: absolute;
    top: -2px;
    left: -4px;
    width: 18px;
    height: 2px;
    background: #888;
    border-radius: 2px;
    content: '';
  }
  &:after{
    position: absolute;
    top: -5px;
    left: 1px;
    width: 8px;
    height: 2px;
    background: #888;
    border-radius: 2px;
    content: '';
  }
}

.icon-play{
  display: block;
  position: relative;
  top: 10px;
  left: 7px;
  width: 14px;
  height: 10px;
  border: solid 2px #888;
  border-radius: 2px;
  opacity: .8;
  &:after{
    top: 2px;
    left: 6px;
    @include arrow(3px,4px,#888,left)
  }
}
