<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>日历</title>
  <link rel="stylesheet" href="css/calendar.css">
</head>

<body>
  <div id="app" class="wrapper">
    <div class="header">
      <p click="handleShowMonth"><span>{{yearCurrent}}</span>年<span>{{monthCurrent+1}}</span>月</p>
      <div class="button">
        <button @click="handlePrev"><i class="arrow arrow--up"></i></button>
        <button @click="handleNext"><i class="arrow arrow--down"></i></button>
      </div>
    </div>
    <div class="calendar">
      <div class="week-list">
        <span v-for="(item, index) in weekList" :key="index">{{item}}</span>
      </div>
      <div class="data-list">
        <div class="item"
          :class="{ 'is-active' : activeClass === index, 'is-current': item.current===true, 'is-disabled': item.disabled===true}"
          @click="handleActive(index)" v-for="(item, index) in dateList">
          <span>{{item.day}}</span></div>
      </div>
    </div>
  </div>
  <script src="js/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        activeClass: '',
        weekList: ['日', '一', '二', '三', '四', '五', '六'],
        days: [],
        dateList: [],
        date: '',
        dateData: {},
        yearCurrent: '',
        monthCurrent: '',
        dayCurrent: '',
        firstDay: '',
        lastDay: '',
        activeDay: true,
      },

      mounted() {
        this.calendar()
      },

      methods: {
        getCurrentDate() {
          let date = new Date()
          this.dateData = {
            year: date.getFullYear(),
            month: date.getMonth(),
            today: date.getDate(),
          }
        },
        calendar(year, month) {
          this.date = new Date()
          this.yearCurrent = this.date.getFullYear()
          this.monthCurrent = this.date.getMonth()
          this.dayCurrent = this.date.getDate()
          this.days = [31, this.isLeapYear(this.yearCurrent), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
          this.firstDay = new Date(this.yearCurrent, this.monthCurrent, 1)
          for (let i = this.firstDay.getDay() - 1; i >= 0; i--) {
            let over = this.monthCurrent === 0 ? 31 : this.days[this.monthCurrent - 1]
            let obj = {
              day: over - i,
              disabled: true,
            }
            this.dateList.push(obj)
          }
          for (let i = 1; i <= this.days[this.monthCurrent]; i++) {
            // let obj = new Object()
            // obj.day = i
            let obj = {
              day: i,
            }
            if (i === this.dayCurrent && this.monthCurrent === this.date.getMonth() && this.yearCurrent === this
              .date.getFullYear()) {
              obj.current = true
            }
            this.dateList.push(obj)
          }
          this.lastDay = new Date(this.yearCurrent, this.monthCurrent, this.days[this.monthCurrent])
          for (let i = 1; i < 7 - this.lastDay.getDay(); i++) {
            let obj = {
              day: i,
              disabled: true,
            }
            this.dateList.push(obj)
          }
          console.log(this.dateList)
        },
        isLeapYear(year) {
          if (year % 4 === 0 && year % 100 != 0 || year % 400 === 0) {
            return 29
          } else {
            return 28
          }
        },
        handlePrev() {
          this.currentMonth--
          if (this.currentMonth < 0) {
            this.currentYear -= 1
            this.currentMonth = 11
          }
        },
        handleNext() {
          this.currentMonth++
          if (this.currentMonth > 11) {
            this.currentYear += 1
            this.currentMonth = 0
          }
        },
        handleActive(index) {
          this.activeClass = index;
        },
        handleShowMonth() {

        }
      }
    })
  </script>
</body>

</html>