/***
 @author ----- ningwenjing 
 @design ----- suncheng 
 @time   ----- 2015-11-05
***/
body,
button,
input,
select,
textarea {
  font: 12px/1.2 Helvetica, \5fae\8f6f\96c5\9ed1;
  outline: none;
  -webkit-font-smoothing: antialiased;
}
ul,
ol {
  list-style: none;
}
em,
i {
  font-style: normal;
}
body {
  margin: 0;
  background: #f1f1f1;
  color: #ad9158;
  word-wrap: break-word;
  overflow-x: hidden;
}
ol,
ul,
input {
  margin: 0;
  padding: 0;
}
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  border: 0;
  vertical-align: middle;
}
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: #333;
}
a,
button,
button:active,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hide {
  display: none;
}

.ico_pri,
.ico_plus,
.ico_plus,
.ico_hot,
.btn_top {
  background: url(../img/spr.png) no-repeat;
  background-size: 320px auto;
}
.wrap {
  overflow: hidden;
  margin: 0 auto;
  background: url(../img/bg.jpg) #000 no-repeat;
  background-size: 100% auto;
  position: relative;
}
.top {
  position: relative;
  height: 280px;
}
.top .btn_t_pay {
  width: 280px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #e1090b;
  top: 215px;
  left: 50%;
  margin-left: -140px;
  position: absolute;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
}
.price {
  border-radius: 0 8px 8px 0;
  top: 187px;
  left: 20px;
  height: 38px;
  position: absolute;
  font-size: 16px;
}
.new_pri {
  color: #f6c93a;
  padding: 3px 0 0;
  display: inline-block;
}
.old_pri {
  color: #aa916e;
  text-decoration: line-through;
  font-size: 12px;
  display: inline-block;
}
.pri {
  background: #100f0d;
  height: 150px;
  padding: 0 9px;
  margin: -5px 0 20px;
}
.title {
  text-align: center;
  margin: 0 0 10px;
}
.title h2 {
  color: #a48544;
  font-size: 14px;
  margin: 0 0 2px;
  font-weight: bold;
  position: relative;
  height: 20px;
}
.title h2 span {
  background: #0f0e0d;
  position: relative;
  z-index: 2;
  padding: 0 10px;
}
.title h2:after {
  content: " ";
  width: 100%;
  border-bottom: solid 1px #9a7d40;
  display: block;
  margin: -10px 0 0;
  z-index: 0;
  position: relative;
}
.title .des1 {
  line-height: 1;
}
.title .des2 {
  color: #fddd2d;
  font-weight: bold;
  line-height: 2;
}
.pri_box li {
  width: 70px;
  float: left;
  background: #1f1f1d;
  margin: 0 7px 0 0;
  height: 94px;
  border-bottom: solid 3px #ad9158;
  padding: 20px 0 0;
  text-align: center;
  position: relative;
}
.ico_pri {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}
.pri2 {
  background-position: -50px 0;
}
.pri3 {
  background-position: -100px 0;
}
.pri4 {
  background-position: -150px 0;
}
.pri_box .tit {
  color: #ffdd99;
  font-size: 11px;
}
.pri_box .des {
  color: #f6c93a;
  font-size: 10px;
}
.pri_box .des .del {
  text-decoration: line-through;
}
.ico_plus {
  width: 25px;
  height: 25px;
  background-position: 0 -50px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: -16px;
}
.pri_box li:nth-child(4) {
  margin: 0;
}

.box {
  margin: 8px;
  position: relative;
}
.box .tit {
  border-bottom: solid 1px #e5e5e5;
  height: 35px;
  line-height: 35px;
}

.box .link_more {
  float: right;
}
.lot_note {
  line-height: 40px;
  height: 40px;
}
.lot_note span {
  color: #e1090b;
}
.btn_get {
  width: 65px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #e1090b;
  border-radius: 5px;
  position: absolute;
  top: 52px;
  right: 9px;
  font-size: 11px;
}
.lot {
  width: 105%;
  height: 205px;
  margin: 0 0 0 -9px;
  overflow: hidden;
}
.lot li {
  width: 65px;
  text-align: center;
  float: left;
  font-size: 10px;
  margin: 0 0 10px 9px;
}
.lot .cur .pic {
  border: solid 2px #ffca2c;
}
.lot .pic {
  border: solid 1px #f2f2f2;
  box-sizing: border-box;
  margin: 0 0 5px;
}
.btn_lot {
  width: 257px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #e1090b;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}
.box_pri {
  margin: 12px 0 0;
  text-align: center;
}
.box_pri li {
  width: 90px;
  text-align: center;
  display: inline-block;
  margin: 0 0 30px;
}
.box_pri .des {
  font-size: 9px;
  white-space: nowrap;
  margin: 2px 0 0;
}
.ico_hot {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto 5px;
}
.hot1 {
  background-position: 0 -85px;
}
.hot2 {
  background-position: -75px -85px;
}
.hot3 {
  background-position: -150px -85px;
}
.hot4 {
  background-position: -225px -85px;
}
.hot5 {
  background-position: 0-160px;
}
.hot6 {
  background-position: -75px -160px;
}
.copyright {
  margin: 20px 10px;
  text-align: center;
  color: #858585;
  font-size: 10px;
  border-top: solid 1px #282726;
  padding: 10px 0;
}

.btn_top {
  width: 34px;
  height: 34px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  background-position: -30px -50px;
  line-height: 100;
  overflow: hidden;
  display: block;
}
.gift_box {
  position: relative;
  background: #1f1f1d;
  margin: 15px 0 0;
}
.gift_box .pic_gift {
  width: 154px;
  position: absolute;
  left: 0;
}
.gift_des {
  padding: 20px 0 0 160px;
  font-size: 11px;
}
.gift_des dt {
  color: #ffdd99;
  font-size: 14px;
  margin: 0 0 5px;
}
.gift_des .gift_des_2 {
  margin: 12px 0 5px;
  color: #f6c93a;
}
.gift_des .gift_des_2 span {
  font-size: 21px;
}
.btn_box_pay {
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  color: #fff;
  background: #e1090b;
  font-size: 13px;
  border-radius: 5px;
}
.btn_wp_gift {
  display: -webkit-box;
  margin: 20px 0 0;
  border-top: solid 2px #100f0d;
}
.btn_wp_gift a {
  -webkit-box-flex: 1;
  display: block;
  color: #fff;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-right: solid 2px #100f0d;
  font-size: 11px;
}
.btn_wp_gift a:nth-child(3) {
  border: 0;
}
.pic_gift_1 {
  width: 120px;
  top: 23px;
  left: 10px;
  position: absolute;
}
.tit_list {
  color: #ffdd99;
}

.rule {
  margin: 8px;
}
.rule li {
  list-style: decimal;
  margin: 0 0 0 20px;
  font-size: 11px;
  line-height: 1.5;
}
.rule li a {
  color: #ffdd99;
}

.cover {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
	display: flex;
	backdrop-filter: blur(5px);
}
.pop {
	margin: auto;
  background: #444;
  width: 290px;
  border-radius: 5px;
  position: relative;
  color: #ffdd99;
  padding: 0 0 10px;
}
.pop h2 {
	margin-bottom: 10px;
  border-bottom: solid 1px #333;
  line-height: 40px;
  text-indent: 10px;
  font-weight: normal;
}
.pop .ico_plus {
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 20px;
  left: auto;
}
.order {
  margin: 0 10px;
  width: 270px;
}
.order th {
  background: #444;
  font-weight: normal;
}
.order th,
.order td {
  padding: 8px 5px;
  border: solid 1px #666;
}

/* media */
@media only screen and (min-width: 769px) and (max-width: 1920px) {
  .wrap {
		width: 1080px;
    zoom: 2.4;
  }
}
@media only screen and (min-width: 541px) and (max-width: 768px) {
  .wrap {
    zoom: 2.4;
  }
}
@media only screen and (min-width: 501px) and (max-width: 540px) {
  .wrap {
    zoom: 1.6875;
  }
}
@media only screen and (min-width: 481px) and (max-width: 500px) {
  .wrap {
    zoom: 1.5625;
  }
}
@media only screen and (min-width: 436px) and (max-width: 480px) {
  .wrap {
    zoom: 1.5;
  }
}
@media only screen and (min-width: 415px) and (max-width: 435px) {
  .wrap {
    zoom: 1.3593;
  }
}
@media only screen and (min-width: 401px) and (max-width: 414px) {
  .wrap {
    zoom: 1.2935;
  }
}
@media only screen and (min-width: 385px) and (max-width: 400px) {
  .wrap {
    zoom: 1.25;
  }
}
@media only screen and (min-width: 376px) and (max-width: 384px) {
  .wrap {
    zoom: 1.2;
  }
}
@media only screen and (min-width: 361px) and (max-width: 375px) {
  .wrap {
    zoom: 1.1718;
  }
}
@media only screen and (min-width: 321px) and (max-width: 360px) {
  .wrap {
    zoom: 1.125;
  }
}
