body, dl, dd, h1, h2, h3, h4, h5, h6, p, form , figure{
  margin: 0;
}

p:focus, span:focus, a:focus, div:focus {
  outline: none;
}

ol, ul, input, button {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a{
  text-decoration: none;
}


