* {
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #672ee3;
  --color-secondary: #8285a6;
  --color-fill: #f6f5fa;
  --color-border: #ddd;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  height: 100vh;
  background: #efeef5;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.todo {
  position: relative;
  width: 500px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__write {
    display: flex;
    width: 300px;
    height: 42px;
    border: solid 2px #000;
  }
  &__input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    text-indent: 1em;
  }
  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    color: #fff;
    background: #000;
    border: 0;
    outline: 0;
    &:hover {
      background: #313131;
    }
  }
  &__tips {
    height: 30px;
    line-height: 30px;
    color: red;
  }
  &__list {
    width: 600px;
    border: solid 2px #000;
  }
  &__item {
    display: flex;
    align-items: center;
    margin: 0 10px;
    line-height: 36px;
    border-bottom: solid 1px #ccc;
  }

  &__text {
    flex: 1;
  }
  &__clear {
    order: 2;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  &__edit {
    order: 1;
    user-select: none;
    cursor: pointer;
  }
  &__edit-input {
    flex: 1;
    order: 0;
  }
  &__save {
    cursor: pointer;
  }
}

.todo-tabs {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px var(--color-border);
  &__items {
    display: flex;
  }
  &__item {
    display: flex;
    align-items: center;
    margin: 0 20px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-secondary);
    transition: color 0.2s;
    cursor: pointer;
    &.is-active {
      color: #12131c;
      border-bottom: solid 3px var(--color-primary);
    }
    &:hover {
      color: #12131c;
    }
  }
  &__number {
    padding: 2px 8px;
    margin: 0 0 0 6px;
    font-size: 12px;
    color: var(--color-secondary);
    background: var(--color-fill);
    border-radius: 10px;
  }
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 auto;
    width: 30px;
    height: 30px;
    border: solid 1px var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
  }
}

.todo-search {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 20px 0 auto;
  input {
    padding: 0 60px 0 10px;
    width: 180px;
    height: 30px;
    color: #000;
    border: 0;
    outline: 0;
    background: var(--color-fill);
    border-radius: 15px;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      color: var(--color-secondary);
    }
  }

  .icon-search {
    position: absolute;
    right: 10px;
    &.is-disabled{
      cursor: not-allowed;
      filter: grayscale(1);
      opacity: .3;
    }
  }
  .icon-clear {
    position: absolute;
    display: none;
    right: 40px;
    opacity: 0.5;
  }
}

.todo-line {
  position: absolute;
  right: 36px;
  width: 1px;
  height: 14px;
  background: #e1e1e1;
}

.todo-tips {
  position: absolute;
  top: 110px;
  left: 20px;
  display: none;
  color: rgb(233, 75, 75);
  font-size: 12px;
  &.is-show {
    display: block;
  }
}

.todo-add {
  position: relative;
  display: flex;
  align-items: center;
  margin: 12px 20px 20px;
  height: 42px;

  &__input {
    flex: 1;
    height: 100%;
    padding: 0 90px 0 10px;
    font-size: 14px;
    border: solid 1px var(--color-border);
    border-radius: 6px;
    box-sizing: border-box;
    outline: 0;
    &:focus {
      border-color: var(--color-primary);
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    color: #fff;
    background: var(--color-primary);
    border-radius: 0 6px 6px 0;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  .icon-clear {
    position: absolute;
    top: 50%;
    right: 66px;
    display: none;
    margin-top: -8px;
    opacity: 0.5;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.todo-list {
  position: relative;
  padding: 0 0 40px;
  ul {
    max-height: 610px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
      background: transparent;
      &-thumb {
        background: #eee;
        border-radius: 5px;
      }
    }
  }
  .checkbox {
    position: relative;
    flex-shrink: 0;
    margin: 0 10px 0 0;
    width: 14px;
    height: 14px;
    appearance: none;
    border: solid 1px var(--color-secondary);
    border-radius: 2px;
    &:checked {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
      &:after {
        display: block;
        margin: 3px 0 0 2px;
        width: 7px;
        height: 3px;
        border-left: solid 2px #fff;
        border-bottom: solid 2px #fff;
        transform: rotate(-45deg);
        content: "";
      }
    }
    &:before {
      position: absolute;
      top: 50%;
      z-index: 1;
      margin: -30px 0 0;
      width: 370px;
      height: 60px;
      content: "";
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    &.is-completed {
      opacity: 0.4;
      .todo-list__text {
        text-decoration: line-through;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    &:after {
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px;
      height: 1px;
      background: var(--color-border);
      opacity: 0.8;
      content: "";
    }
    &:hover {
      background: var(--color-fill);
    }
    &.is-empty {
      justify-content: center;
      color: var(--color-secondary);
      &:after {
        display: none;
      }
    }
  }
  &__keyword {
    color: red;
  }
  &__text {
    font-size: 15px;
    word-wrap: break-word;
  }
  &__time {
    color: var(--color-secondary);
    font-size: 12px;
  }
  &__operate {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #e4e4ea;
    }
    &--save {
      display: none;
    }
  }
  &__clear {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: none;
    align-items: center;
    font-size: 12px;
    color: var(--color-secondary);
    cursor: pointer;
  }
  &__empty {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--color-secondary);
  }
}

.input-edit {
  position: relative;
  z-index: 2;
  width: 260px;
  height: 30px;
  text-indent: 6px;
  border: solid 1px var(--color-border);
  border-radius: 4px;
  outline: 0;
  &:focus {
    border-color: var(--color-primary);
  }
}

.icon-clear {
  width: 16px;
  height: 16px;
  background: url(../icon/clear.svg) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.icon-search {
  width: 24px;
  height: 24px;
  background: url(../icon/search.svg) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

%iconCommon {
  width: 30px;
  height: 30px;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-delete {
  @extend %iconCommon;
  background-image: url(../icon/delete.svg);
}

.icon-edit {
  @extend %iconCommon;
  background-image: url(../icon/edit.svg);
}

.icon-save {
  @extend %iconCommon;
  background-image: url(../icon/save.svg);
}

.icon-add {
  width: 30px;
  height: 30px;
  background: url(../icon/add.svg) no-repeat;
  background-size: 100% 100%;
}
