@charset "UTF-8";
/* 用来做图标切换的mixin */
:root {
  --font-size-base: 12px;
  --color-default: #969696;
  --color-link: #808080;
}

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}

p:focus,
span:focus,
a:focus,
div:focus {
  outline: none;
}

ol,
ul,
input,
button {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body,
input,
textarea,
button {
  font-family: "microsoft yahei", -apple-system, "PingFang SC", "simsun", Arial, sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-default);
  -webkit-font-smoothing: antialiased;
}

body {
  word-wrap: break-word;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4,
h5,
h6,
p {
  font-size: inherit;
}

sup,
sub {
  font-size: 11px;
}

small {
  font-size: 11px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

i {
  font-style: normal;
}

em {
  font-style: normal;
}

@font-face {
  font-family: "xmp-icon";
  src: url("../fonts/xmp-icon.woff?t=1551254073595") format("woff");
}

[class^="xmp-icon"],
[class*="xmp-icon-"] {
  font-family: "xmp-icon" !important;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xmp-icon-pause:before {
  content: "\e641";
}

.xmp-icon-next:before {
  content: "\e642";
}

.xmp-icon-play:before {
  content: "\e643";
}

.xmp-icon-play1:before {
  content: "\e644";
}

.xmp-icon-play-list:before {
  content: "\e645";
}

.xmp-icon-prev:before {
  content: "\e646";
}

.xmp-icon-stop:before {
  content: "\e647";
}

.xmp-icon-search:before {
  content: "\e648";
}

.xmp-icon-arrow-right:before {
  content: "\e649";
}

.xmp-icon-tools:before {
  content: "\e64a";
}

.xmp-icon-file:before {
  content: "\e64b";
}

.xmp-icon-setting:before {
  content: "\e64c";
}

.xmp-icon-folder1:before {
  content: "\e64d";
}

.xmp-icon-file1:before {
  content: "\e64e";
}

.xmp-icon-play-single:before {
  content: "\e64f";
}

.xmp-icon-play-random:before {
  content: "\e650";
}

.xmp-icon-front:before {
  content: "\e651";
}

.xmp-icon-folder:before {
  content: "\e652";
}

.xmp-icon-maximize:before {
  content: "\e653";
}

.xmp-icon-minimize:before {
  content: "\e654";
}

.xmp-icon-loop-single:before {
  content: "\e655";
}

.xmp-icon-front-cancel:before {
  content: "\e656";
}

.xmp-icon-delete:before {
  content: "\e657";
}

.xmp-icon-close:before {
  content: "\e658";
}

.xmp-icon-dplay:before {
  content: "\e659";
}

.xmp-icon-full-cancel:before {
  content: "\e65a";
}

.xmp-icon-menu:before {
  content: "\e65b";
}

.xmp-icon-full:before {
  content: "\e65c";
}

.xmp-icon-mute:before {
  content: "\e65d";
}

.xmp-icon-loop-list:before {
  content: "\e65e";
}

.xmp-icon-mute-cancel:before {
  content: "\e65f";
}

.xmp-icon-arrow-left:before {
  content: "\e660";
}

.xmp-icon-maximize-cancel:before {
  content: "\e661";
}

.xmp-icon-add:before {
  content: "\e662";
}

.xmp-icon-saturation:before {
  content: "\e663";
}

.xmp-icon-reset:before {
  content: "\e664";
}

.xmp-icon-contrast:before {
  content: "\e665";
}

.xmp-icon-bright:before {
  content: "\e666";
}

.xmp-icon-fast:before {
  content: "\e667";
}

.xmp-icon-quick:before {
  content: "\e668";
}

.xmp-icon-mute-max:before {
  content: "\e669";
}

.xmp-icon-electric1:before {
  content: "\e66a";
}

.xmp-icon-electric3:before {
  content: "\e66b";
}

.xmp-icon-electric2:before {
  content: "\e66c";
}

.xmp-icon-electric:before {
  content: "\e66d";
}

.xmp-icon-play2:before {
  content: "\e66e";
}

.xmp-icon-net:before {
  content: "\e66f";
}

.xmp-icon-head:before {
  content: "\e670";
}

.xmp-icon-head-float:before {
  content: "\e671";
}

.xmp-icon-zoom:before {
  content: "\e672";
}

.xmp-icon-save:before {
  content: "\e673";
}

.xmp-icon-search1:before {
  content: "\e674";
}

.xmp-icon-preview:before {
  content: "\e675";
}

.xmp-icon-list:before {
  content: "\e676";
}

.xmp-icon-trash:before {
  content: "\e677";
}

.xmp-icon-arrow-drop:before {
  content: "\e678";
}

.xmp-icon-arrow-cut:before {
  content: "\e679";
}

.xmp-icon-screen:before {
  content: "\e67a";
}

.xmp-icon-help:before {
  content: "\e67b";
}

.xmp-icon-xmp:before {
  content: "\e683";
}

.xmp-icon-mini:before {
  content: "\e684";
}

.xmp-icon-full1:before {
  content: "\e685";
}

.xmp-icon-mini-cancel:before {
  content: "\e686";
}

.xmp-icon-full-cancel1:before {
  content: "\e687";
}

.xmp-icon-size:before {
  content: "\e721";
}

.xmp-icon-down-save:before {
  content: "\e722";
}

.xmp-icon-zoom-1:before {
  content: "\e723";
}

.xmp-icon-file-1:before {
  content: "\e724";
}

.xmp-icon-refresh:before {
  content: "\e725";
}

.xmp-icon-narrow:before {
  content: "\e726";
}

.xmp-icon-lock:before {
  content: "\e688";
}

.xmp-icon-add-fine:before {
  content: "\e689";
}

.xmp-icon-unlock:before {
  content: "\e68a";
}

.xmp-icon-tips:before {
  content: "\e728";
}

.xmp-icon-sound:before {
  content: "\e72c";
}

.xmp-icon-weixin:before {
  content: "\e72a";
}

.xmp-icon-picture-down:before {
  content: "\e72b";
}

.xmp-icon-incognito:before {
  content: "\e72d";
}

.xmp-icon-pause1:before {
  content: "\e68b";
}

.xmp-icon-pause2:before {
  content: "\e68c";
}

.xmp-icon-play3:before {
  content: "\e68d";
}

.xmp-icon-play4:before {
  content: "\e68e";
}

.xmp-icon-share:before {
  content: "\e731";
}

.xmp-icon-arrow-collapse:before {
  content: "\e733";
}

.xmp-icon-curve:before {
  content: "\e68f";
}

.xmp-icon-rotate-left:before {
  content: "\e741";
}

.xmp-icon-rotate-right:before {
  content: "\e73e";
}

.xmp-icon-mirror-horizontal:before {
  content: "\e73f";
}

.xmp-icon-mirror-vertical:before {
  content: "\e740";
}

.xmp-client img {
  display: block;
}

.xmp-client-mini {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.xmp-client-mini.is-enter .xmp-client-mini__hd {
  opacity: 1;
  transform: translateY(0);
}

.xmp-client-mini.is-enter .xmp-player__bar {
  transform: translateY(0);
}

.xmp-client-mini.is-enter .xmp-player__play {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease;
}

.xmp-client-mini.is-enter .xmp-player__progress .td-slider__button {
  position: absolute;
  top: -2px;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 0 3px rgba(4, 112, 233, 0.5);
  border: none;
  outline: none;
}

.xmp-client-mini.is-enter .xmp-player__progress .td-slider__button:hover {
  box-shadow: 0 0 0 3px rgba(4, 112, 233, 0.8);
}

.xmp-client-mini.is-enter.is-notrans .xmp-client-mini__hd,
.xmp-client-mini.is-enter.is-notrans .xmp-player__bar {
  display: flex;
}

.xmp-client-mini .xmp-player__play.is-hide {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.xmp-client-mini__hd {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 12px 0 20px;
  color: #fff;
  font-size: 12px;
  background: linear-gradient(#262626, rgba(38, 38, 38, 0));
  box-sizing: border-box;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease;
}

.xmp-client-mini__hd .xmp-movie-title {
  flex: 1;
  min-width: 0;
  padding: 0 20px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.xmp-client-mini__hd .xmp-client-operate__close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  padding: 0 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 100px;
}

.xmp-client-mini__hd .xmp-client-operate__close .xmp-icon-close {
  font-size: 12px;
  margin: 2px 0 0 4px;
}

.xmp-client-mini__hd .xmp-client-operate__close:hover {
  color: #4b87ff;
}

.xmp-client-mini__bd {
  height: 100%;
}

.xmp-client-mini .xmp-player__bar .xmp-player__play {
  display: none;
}

.xmp-client-mini.is-notrans .xmp-client-mini__hd,
.xmp-client-mini.is-notrans .xmp-player__bar {
  display: none;
  background: #262626;
  opacity: 1;
  transform: translateY(0);
  transition: none;
}

.xmp-client-mini.is-notrans .xmp-player__play {
  position: relative;
  left: auto;
  top: auto;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 12px 0 0;
  background: none;
  border-radius: 0;
  border: none;
}

.xmp-client-mini.is-notrans .xmp-player__play .xmp-icon-play {
  font-size: 16px;
}

.xmp-client-mini.is-notrans .xmp-player__time {
  flex: 1;
  flex-shrink: 0;
}

.xmp-player__frame {
  height: 100%;
  overflow: hidden;
}

.xmp-player__frame video,
.xmp-player__frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.xmp-player__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  background: linear-gradient(rgba(38, 38, 38, 0), #262626);
  box-sizing: border-box;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.xmp-player__progress {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
}

.xmp-player__progress .td-slider__bar {
  position: relative;
  height: 4px;
  background: #aaaaaa;
  cursor: pointer;
}

.xmp-player__progress .td-slider__bar::before, .xmp-player__progress .td-slider__bar::after {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 6px;
  content: "";
}

.xmp-player__progress .td-slider__bar::before {
  top: -6px;
}

.xmp-player__progress .td-slider__bar::after {
  bottom: -6px;
}

.xmp-player__progress .td-slider__bar-inner {
  position: relative;
  z-index: 1;
  height: 100%;
  background: #4b87ff;
}

.xmp-player__progress .td-slider__button {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 12px;
  height: 100%;
  margin-left: -6px;
  border-radius: 10px;
  background: #fff;
  border: none;
  outline: none;
}

.xmp-player__progress .xmp-slider__dot {
  position: absolute;
  top: 0;
  height: 100%;
  background: #9eceff;
  z-index: 0;
}

.xmp-player__time {
  font-size: 11px;
  color: #fff;
}

.xmp-player__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xmp-player__menu [class^="xmp-icon-"] {
  color: #fff;
}

.xmp-player__menu [class^="xmp-icon-"]:hover {
  color: #4b87ff;
}

.xmp-player__volume {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.xmp-player__volume .td-slider {
  position: absolute;
  left: -2px;
  bottom: 24px;
  padding: 12px 10px;
  border-radius: 2px;
  background: #333333;
  transform: rotate(180deg);
}

.xmp-player__volume .td-slider__bar {
  position: relative;
  width: 4px;
  height: 62px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

.xmp-player__volume .td-slider__bar-inner {
  width: 100%;
  background: #4b87ff;
  border-radius: 4px;
}

.xmp-player__volume .td-slider__button {
  position: absolute;
  left: -1px;
  width: 6px;
  height: 6px;
  margin-top: -4px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 0 3px rgba(4, 112, 233, 0.5);
  border: none;
  outline: none;
}

.xmp-player__volume .td-slider__button:hover {
  box-shadow: 0 0 0 3px rgba(4, 112, 233, 0.8);
}

.xmp-player__volume .is-horizontal.td-slider {
  left: -84px;
  bottom: 1px;
  padding: 8px 8px;
  transform: none;
}

.xmp-player__volume .is-horizontal .td-slider__bar {
  width: 62px;
  height: 4px;
}

.xmp-player__volume .is-horizontal .td-slider__bar-inner {
  height: 100%;
}

.xmp-player__volume-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xmp-player__volume-icon.is-disabled {
  color: #fff;
}

.xmp-player__volume-icon.is-disabled:hover {
  color: var(--color-primary);
}

.xmp-player__volume-icon.is-disabled .xmp-icon-mute:before {
  content: "\e65f";
}

.xmp-player__volume-icon.is-max {
  color: #fff;
}

.xmp-player__volume-icon.is-max:hover {
  color: var(--color-primary);
}

.xmp-player__volume-icon.is-max .xmp-icon-mute:before {
  content: "\e669";
}

.xmp-player__curve {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.xmp-player__float {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.xmp-player__xmp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.xmp-player__full {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.xmp-player__play {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  margin: -26px 0 0 -26px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 4px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  opacity: 0;
}

.xmp-player__play [class^="xmp-icon-"] {
  font-size: 24px;
  color: #fff;
}

.xmp-player__play.xmp-player__play-pause .xmp-icon-play {
  margin-left: 0;
}

.xmp-player__play.xmp-player__play-pause .xmp-icon-play:before {
  content: "\e641";
}

.xmp-client-float {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}

.xmp-client-float.is-enter .xmp-client-float__hd {
  display: flex;
}

.xmp-client-float.is-enter .xmp-player__bar {
  display: flex;
  transform: translateY(0);
}

.xmp-client-float.is-notrans .xmp-player__bar {
  background: #262626;
}

.xmp-client-float__hd {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 12px;
  background: #171717;
  box-sizing: border-box;
  display: none;
}

.xmp-client-float__hd .td-checkbox {
  position: absolute;
  right: 32px;
  height: 32px;
  opacity: .8;
}

.xmp-client-float__hd .td-checkbox__label {
  color: #fff;
}

.xmp-client-float__hd .td-checkbox__inner {
  background: transparent;
  border-color: #fff;
}

.xmp-client-float__bd {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.xmp-client-float .xmp-movie-title {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
  user-select: none;
}

.xmp-client-float .xmp-movie-title .line {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 0;
  margin-right: 8px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid currentColor;
}

.xmp-client-float .xmp-movie-title .line::before, .xmp-client-float .xmp-movie-title .line::after {
  position: absolute;
  left: 0;
  width: 12px;
  height: 0;
  border-radius: 2px;
  border-top: 1px solid currentColor;
  content: "";
}

.xmp-client-float .xmp-movie-title .line::before {
  top: -6px;
}

.xmp-client-float .xmp-movie-title .line::after {
  bottom: -5px;
}

.xmp-client-float .xmp-movie-title:hover {
  color: #fff;
}

.xmp-client-float .xmp-movie-title:hover .line {
  color: #fff;
}

.xmp-client-float .xmp-client-operate__close {
  color: rgba(255, 255, 255, 0.5);
}

.xmp-client-float .xmp-client-operate__close:hover {
  color: #fff;
}

.xmp-client-float .xmp-client-operate__close .xmp-icon-close {
  font-size: 12px;
}

.xmp-client-float .xmp-player__frame {
  border-radius: 0;
}

.xmp-client-float .xmp-player__play {
  position: relative;
  left: auto;
  top: auto;
  margin: 0;
  opacity: 1;
  width: 18px;
  height: 18px;
  border-radius: 0;
  border: none;
  background: none;
}

.xmp-client-float .xmp-player__play [class^="xmp-icon-"]:hover {
  color: #4b87ff;
}

.xmp-client-float .xmp-player__play .xmp-icon-play {
  font-size: 16px;
}

.xmp-client-float .xmp-player__play.xmp-player__play-pause .xmp-icon-play {
  margin: 0;
}

.xmp-client-float .xmp-player__bar {
  display: none;
  height: 36px;
  opacity: 1;
  padding: 0 12px;
}

.xmp-client-float .xmp-player__float {
  margin: 0;
}

.xmp-client-float.is-ani {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 596px;
  height: 351px;
  transition: all 0.3s ease;
}
/*# sourceMappingURL=xmp-client--mini.css.map */