.wrapper {
  display: flex;
  --size: 200px;
  perspective: 600px;
}
.scene {
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 1px solid #ccc;
  margin: 40px auto;
  transform-style: preserve-3d;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(123, 167, 255,.3);
  &--left{
    transform: rotateY(90deg);
  }
  &--right {
    transform:rotateY(-90deg);
  }
}
