body {
  background: #111;
  height: 100vh;
  overflow: hidden;
  perspective: 400px;
}

.space {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: -webkit-grab;
  cursor: grab;
}
.space:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.space:active .graphic {
  width: 200px;
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateY(-90deg);
  transform-style: preserve-3d;
  -webkit-animation: move 3000ms linear infinite;
          animation: move 3000ms linear infinite;
}
.line:nth-child(1) {
  -webkit-animation-delay: -7702ms;
          animation-delay: -7702ms;
}
.line:nth-child(1) .graphic {
  -webkit-animation-delay: -7702ms;
          animation-delay: -7702ms;
}
.line:nth-child(1) .star {
  transform: rotateZ(30deg) translateX(133px);
}
.line:nth-child(2) {
  -webkit-animation-delay: -1046ms;
          animation-delay: -1046ms;
}
.line:nth-child(2) .graphic {
  -webkit-animation-delay: -1046ms;
          animation-delay: -1046ms;
}
.line:nth-child(2) .star {
  transform: rotateZ(242deg) translateX(132px);
}
.line:nth-child(3) {
  -webkit-animation-delay: -8362ms;
          animation-delay: -8362ms;
}
.line:nth-child(3) .graphic {
  -webkit-animation-delay: -8362ms;
          animation-delay: -8362ms;
}
.line:nth-child(3) .star {
  transform: rotateZ(277deg) translateX(248px);
}
.line:nth-child(4) {
  -webkit-animation-delay: -6670ms;
          animation-delay: -6670ms;
}
.line:nth-child(4) .graphic {
  -webkit-animation-delay: -6670ms;
          animation-delay: -6670ms;
}
.line:nth-child(4) .star {
  transform: rotateZ(284deg) translateX(294px);
}
.line:nth-child(5) {
  -webkit-animation-delay: -8931ms;
          animation-delay: -8931ms;
}
.line:nth-child(5) .graphic {
  -webkit-animation-delay: -8931ms;
          animation-delay: -8931ms;
}
.line:nth-child(5) .star {
  transform: rotateZ(152deg) translateX(253px);
}
.line:nth-child(6) {
  -webkit-animation-delay: -8966ms;
          animation-delay: -8966ms;
}
.line:nth-child(6) .graphic {
  -webkit-animation-delay: -8966ms;
          animation-delay: -8966ms;
}
.line:nth-child(6) .star {
  transform: rotateZ(328deg) translateX(207px);
}
.line:nth-child(7) {
  -webkit-animation-delay: -7571ms;
          animation-delay: -7571ms;
}
.line:nth-child(7) .graphic {
  -webkit-animation-delay: -7571ms;
          animation-delay: -7571ms;
}
.line:nth-child(7) .star {
  transform: rotateZ(58deg) translateX(72px);
}
.line:nth-child(8) {
  -webkit-animation-delay: -3676ms;
          animation-delay: -3676ms;
}
.line:nth-child(8) .graphic {
  -webkit-animation-delay: -3676ms;
          animation-delay: -3676ms;
}
.line:nth-child(8) .star {
  transform: rotateZ(205deg) translateX(75px);
}
.line:nth-child(9) {
  -webkit-animation-delay: -1014ms;
          animation-delay: -1014ms;
}
.line:nth-child(9) .graphic {
  -webkit-animation-delay: -1014ms;
          animation-delay: -1014ms;
}
.line:nth-child(9) .star {
  transform: rotateZ(84deg) translateX(177px);
}
.line:nth-child(10) {
  -webkit-animation-delay: -4990ms;
          animation-delay: -4990ms;
}
.line:nth-child(10) .graphic {
  -webkit-animation-delay: -4990ms;
          animation-delay: -4990ms;
}
.line:nth-child(10) .star {
  transform: rotateZ(273deg) translateX(198px);
}
.line:nth-child(11) {
  -webkit-animation-delay: -2497ms;
          animation-delay: -2497ms;
}
.line:nth-child(11) .graphic {
  -webkit-animation-delay: -2497ms;
          animation-delay: -2497ms;
}
.line:nth-child(11) .star {
  transform: rotateZ(307deg) translateX(109px);
}
.line:nth-child(12) {
  -webkit-animation-delay: -1080ms;
          animation-delay: -1080ms;
}
.line:nth-child(12) .graphic {
  -webkit-animation-delay: -1080ms;
          animation-delay: -1080ms;
}
.line:nth-child(12) .star {
  transform: rotateZ(111deg) translateX(219px);
}
.line:nth-child(13) {
  -webkit-animation-delay: -4493ms;
          animation-delay: -4493ms;
}
.line:nth-child(13) .graphic {
  -webkit-animation-delay: -4493ms;
          animation-delay: -4493ms;
}
.line:nth-child(13) .star {
  transform: rotateZ(72deg) translateX(190px);
}
.line:nth-child(14) {
  -webkit-animation-delay: -1766ms;
          animation-delay: -1766ms;
}
.line:nth-child(14) .graphic {
  -webkit-animation-delay: -1766ms;
          animation-delay: -1766ms;
}
.line:nth-child(14) .star {
  transform: rotateZ(155deg) translateX(277px);
}
.line:nth-child(15) {
  -webkit-animation-delay: -9091ms;
          animation-delay: -9091ms;
}
.line:nth-child(15) .graphic {
  -webkit-animation-delay: -9091ms;
          animation-delay: -9091ms;
}
.line:nth-child(15) .star {
  transform: rotateZ(202deg) translateX(319px);
}
.line:nth-child(16) {
  -webkit-animation-delay: -9134ms;
          animation-delay: -9134ms;
}
.line:nth-child(16) .graphic {
  -webkit-animation-delay: -9134ms;
          animation-delay: -9134ms;
}
.line:nth-child(16) .star {
  transform: rotateZ(289deg) translateX(240px);
}
.line:nth-child(17) {
  -webkit-animation-delay: -9050ms;
          animation-delay: -9050ms;
}
.line:nth-child(17) .graphic {
  -webkit-animation-delay: -9050ms;
          animation-delay: -9050ms;
}
.line:nth-child(17) .star {
  transform: rotateZ(77deg) translateX(89px);
}
.line:nth-child(18) {
  -webkit-animation-delay: -3800ms;
          animation-delay: -3800ms;
}
.line:nth-child(18) .graphic {
  -webkit-animation-delay: -3800ms;
          animation-delay: -3800ms;
}
.line:nth-child(18) .star {
  transform: rotateZ(249deg) translateX(240px);
}
.line:nth-child(19) {
  -webkit-animation-delay: -5506ms;
          animation-delay: -5506ms;
}
.line:nth-child(19) .graphic {
  -webkit-animation-delay: -5506ms;
          animation-delay: -5506ms;
}
.line:nth-child(19) .star {
  transform: rotateZ(319deg) translateX(35px);
}
.line:nth-child(20) {
  -webkit-animation-delay: -4641ms;
          animation-delay: -4641ms;
}
.line:nth-child(20) .graphic {
  -webkit-animation-delay: -4641ms;
          animation-delay: -4641ms;
}
.line:nth-child(20) .star {
  transform: rotateZ(347deg) translateX(71px);
}
.line:nth-child(21) {
  -webkit-animation-delay: -5082ms;
          animation-delay: -5082ms;
}
.line:nth-child(21) .graphic {
  -webkit-animation-delay: -5082ms;
          animation-delay: -5082ms;
}
.line:nth-child(21) .star {
  transform: rotateZ(47deg) translateX(285px);
}
.line:nth-child(22) {
  -webkit-animation-delay: -3667ms;
          animation-delay: -3667ms;
}
.line:nth-child(22) .graphic {
  -webkit-animation-delay: -3667ms;
          animation-delay: -3667ms;
}
.line:nth-child(22) .star {
  transform: rotateZ(67deg) translateX(120px);
}
.line:nth-child(23) {
  -webkit-animation-delay: -3980ms;
          animation-delay: -3980ms;
}
.line:nth-child(23) .graphic {
  -webkit-animation-delay: -3980ms;
          animation-delay: -3980ms;
}
.line:nth-child(23) .star {
  transform: rotateZ(77deg) translateX(156px);
}
.line:nth-child(24) {
  -webkit-animation-delay: -3795ms;
          animation-delay: -3795ms;
}
.line:nth-child(24) .graphic {
  -webkit-animation-delay: -3795ms;
          animation-delay: -3795ms;
}
.line:nth-child(24) .star {
  transform: rotateZ(294deg) translateX(312px);
}
.line:nth-child(25) {
  -webkit-animation-delay: -7336ms;
          animation-delay: -7336ms;
}
.line:nth-child(25) .graphic {
  -webkit-animation-delay: -7336ms;
          animation-delay: -7336ms;
}
.line:nth-child(25) .star {
  transform: rotateZ(128deg) translateX(200px);
}
.line:nth-child(26) {
  -webkit-animation-delay: -5761ms;
          animation-delay: -5761ms;
}
.line:nth-child(26) .graphic {
  -webkit-animation-delay: -5761ms;
          animation-delay: -5761ms;
}
.line:nth-child(26) .star {
  transform: rotateZ(284deg) translateX(290px);
}
.line:nth-child(27) {
  -webkit-animation-delay: -4696ms;
          animation-delay: -4696ms;
}
.line:nth-child(27) .graphic {
  -webkit-animation-delay: -4696ms;
          animation-delay: -4696ms;
}
.line:nth-child(27) .star {
  transform: rotateZ(351deg) translateX(116px);
}
.line:nth-child(28) {
  -webkit-animation-delay: -8335ms;
          animation-delay: -8335ms;
}
.line:nth-child(28) .graphic {
  -webkit-animation-delay: -8335ms;
          animation-delay: -8335ms;
}
.line:nth-child(28) .star {
  transform: rotateZ(148deg) translateX(193px);
}
.line:nth-child(29) {
  -webkit-animation-delay: -1480ms;
          animation-delay: -1480ms;
}
.line:nth-child(29) .graphic {
  -webkit-animation-delay: -1480ms;
          animation-delay: -1480ms;
}
.line:nth-child(29) .star {
  transform: rotateZ(337deg) translateX(299px);
}
.line:nth-child(30) {
  -webkit-animation-delay: -3451ms;
          animation-delay: -3451ms;
}
.line:nth-child(30) .graphic {
  -webkit-animation-delay: -3451ms;
          animation-delay: -3451ms;
}
.line:nth-child(30) .star {
  transform: rotateZ(187deg) translateX(141px);
}
.line:nth-child(31) {
  -webkit-animation-delay: -852ms;
          animation-delay: -852ms;
}
.line:nth-child(31) .graphic {
  -webkit-animation-delay: -852ms;
          animation-delay: -852ms;
}
.line:nth-child(31) .star {
  transform: rotateZ(34deg) translateX(144px);
}
.line:nth-child(32) {
  -webkit-animation-delay: -8696ms;
          animation-delay: -8696ms;
}
.line:nth-child(32) .graphic {
  -webkit-animation-delay: -8696ms;
          animation-delay: -8696ms;
}
.line:nth-child(32) .star {
  transform: rotateZ(177deg) translateX(58px);
}
.line:nth-child(33) {
  -webkit-animation-delay: -6285ms;
          animation-delay: -6285ms;
}
.line:nth-child(33) .graphic {
  -webkit-animation-delay: -6285ms;
          animation-delay: -6285ms;
}
.line:nth-child(33) .star {
  transform: rotateZ(20deg) translateX(208px);
}
.line:nth-child(34) {
  -webkit-animation-delay: -8330ms;
          animation-delay: -8330ms;
}
.line:nth-child(34) .graphic {
  -webkit-animation-delay: -8330ms;
          animation-delay: -8330ms;
}
.line:nth-child(34) .star {
  transform: rotateZ(135deg) translateX(68px);
}
.line:nth-child(35) {
  -webkit-animation-delay: -1850ms;
          animation-delay: -1850ms;
}
.line:nth-child(35) .graphic {
  -webkit-animation-delay: -1850ms;
          animation-delay: -1850ms;
}
.line:nth-child(35) .star {
  transform: rotateZ(74deg) translateX(44px);
}
.line:nth-child(36) {
  -webkit-animation-delay: -5948ms;
          animation-delay: -5948ms;
}
.line:nth-child(36) .graphic {
  -webkit-animation-delay: -5948ms;
          animation-delay: -5948ms;
}
.line:nth-child(36) .star {
  transform: rotateZ(286deg) translateX(45px);
}
.line:nth-child(37) {
  -webkit-animation-delay: -8582ms;
          animation-delay: -8582ms;
}
.line:nth-child(37) .graphic {
  -webkit-animation-delay: -8582ms;
          animation-delay: -8582ms;
}
.line:nth-child(37) .star {
  transform: rotateZ(294deg) translateX(232px);
}
.line:nth-child(38) {
  -webkit-animation-delay: -9957ms;
          animation-delay: -9957ms;
}
.line:nth-child(38) .graphic {
  -webkit-animation-delay: -9957ms;
          animation-delay: -9957ms;
}
.line:nth-child(38) .star {
  transform: rotateZ(138deg) translateX(149px);
}
.line:nth-child(39) {
  -webkit-animation-delay: -3899ms;
          animation-delay: -3899ms;
}
.line:nth-child(39) .graphic {
  -webkit-animation-delay: -3899ms;
          animation-delay: -3899ms;
}
.line:nth-child(39) .star {
  transform: rotateZ(333deg) translateX(34px);
}
.line:nth-child(40) {
  -webkit-animation-delay: -1162ms;
          animation-delay: -1162ms;
}
.line:nth-child(40) .graphic {
  -webkit-animation-delay: -1162ms;
          animation-delay: -1162ms;
}
.line:nth-child(40) .star {
  transform: rotateZ(97deg) translateX(68px);
}
.line:nth-child(41) {
  -webkit-animation-delay: -1987ms;
          animation-delay: -1987ms;
}
.line:nth-child(41) .graphic {
  -webkit-animation-delay: -1987ms;
          animation-delay: -1987ms;
}
.line:nth-child(41) .star {
  transform: rotateZ(248deg) translateX(55px);
}
.line:nth-child(42) {
  -webkit-animation-delay: -1890ms;
          animation-delay: -1890ms;
}
.line:nth-child(42) .graphic {
  -webkit-animation-delay: -1890ms;
          animation-delay: -1890ms;
}
.line:nth-child(42) .star {
  transform: rotateZ(207deg) translateX(68px);
}
.line:nth-child(43) {
  -webkit-animation-delay: -9600ms;
          animation-delay: -9600ms;
}
.line:nth-child(43) .graphic {
  -webkit-animation-delay: -9600ms;
          animation-delay: -9600ms;
}
.line:nth-child(43) .star {
  transform: rotateZ(38deg) translateX(215px);
}
.line:nth-child(44) {
  -webkit-animation-delay: -8811ms;
          animation-delay: -8811ms;
}
.line:nth-child(44) .graphic {
  -webkit-animation-delay: -8811ms;
          animation-delay: -8811ms;
}
.line:nth-child(44) .star {
  transform: rotateZ(228deg) translateX(119px);
}
.line:nth-child(45) {
  -webkit-animation-delay: -7073ms;
          animation-delay: -7073ms;
}
.line:nth-child(45) .graphic {
  -webkit-animation-delay: -7073ms;
          animation-delay: -7073ms;
}
.line:nth-child(45) .star {
  transform: rotateZ(93deg) translateX(315px);
}
.line:nth-child(46) {
  -webkit-animation-delay: -3361ms;
          animation-delay: -3361ms;
}
.line:nth-child(46) .graphic {
  -webkit-animation-delay: -3361ms;
          animation-delay: -3361ms;
}
.line:nth-child(46) .star {
  transform: rotateZ(237deg) translateX(137px);
}
.line:nth-child(47) {
  -webkit-animation-delay: -8187ms;
          animation-delay: -8187ms;
}
.line:nth-child(47) .graphic {
  -webkit-animation-delay: -8187ms;
          animation-delay: -8187ms;
}
.line:nth-child(47) .star {
  transform: rotateZ(351deg) translateX(105px);
}
.line:nth-child(48) {
  -webkit-animation-delay: -871ms;
          animation-delay: -871ms;
}
.line:nth-child(48) .graphic {
  -webkit-animation-delay: -871ms;
          animation-delay: -871ms;
}
.line:nth-child(48) .star {
  transform: rotateZ(254deg) translateX(37px);
}
.line:nth-child(49) {
  -webkit-animation-delay: -7577ms;
          animation-delay: -7577ms;
}
.line:nth-child(49) .graphic {
  -webkit-animation-delay: -7577ms;
          animation-delay: -7577ms;
}
.line:nth-child(49) .star {
  transform: rotateZ(274deg) translateX(259px);
}
.line:nth-child(50) {
  -webkit-animation-delay: -2635ms;
          animation-delay: -2635ms;
}
.line:nth-child(50) .graphic {
  -webkit-animation-delay: -2635ms;
          animation-delay: -2635ms;
}
.line:nth-child(50) .star {
  transform: rotateZ(114deg) translateX(285px);
}
.line:nth-child(51) {
  -webkit-animation-delay: -6276ms;
          animation-delay: -6276ms;
}
.line:nth-child(51) .graphic {
  -webkit-animation-delay: -6276ms;
          animation-delay: -6276ms;
}
.line:nth-child(51) .star {
  transform: rotateZ(86deg) translateX(80px);
}
.line:nth-child(52) {
  -webkit-animation-delay: -3176ms;
          animation-delay: -3176ms;
}
.line:nth-child(52) .graphic {
  -webkit-animation-delay: -3176ms;
          animation-delay: -3176ms;
}
.line:nth-child(52) .star {
  transform: rotateZ(335deg) translateX(26px);
}
.line:nth-child(53) {
  -webkit-animation-delay: -6595ms;
          animation-delay: -6595ms;
}
.line:nth-child(53) .graphic {
  -webkit-animation-delay: -6595ms;
          animation-delay: -6595ms;
}
.line:nth-child(53) .star {
  transform: rotateZ(173deg) translateX(174px);
}
.line:nth-child(54) {
  -webkit-animation-delay: -5200ms;
          animation-delay: -5200ms;
}
.line:nth-child(54) .graphic {
  -webkit-animation-delay: -5200ms;
          animation-delay: -5200ms;
}
.line:nth-child(54) .star {
  transform: rotateZ(16deg) translateX(40px);
}
.line:nth-child(55) {
  -webkit-animation-delay: -9937ms;
          animation-delay: -9937ms;
}
.line:nth-child(55) .graphic {
  -webkit-animation-delay: -9937ms;
          animation-delay: -9937ms;
}
.line:nth-child(55) .star {
  transform: rotateZ(153deg) translateX(216px);
}
.line:nth-child(56) {
  -webkit-animation-delay: -6474ms;
          animation-delay: -6474ms;
}
.line:nth-child(56) .graphic {
  -webkit-animation-delay: -6474ms;
          animation-delay: -6474ms;
}
.line:nth-child(56) .star {
  transform: rotateZ(114deg) translateX(56px);
}
.line:nth-child(57) {
  -webkit-animation-delay: -1009ms;
          animation-delay: -1009ms;
}
.line:nth-child(57) .graphic {
  -webkit-animation-delay: -1009ms;
          animation-delay: -1009ms;
}
.line:nth-child(57) .star {
  transform: rotateZ(247deg) translateX(29px);
}
.line:nth-child(58) {
  -webkit-animation-delay: -9994ms;
          animation-delay: -9994ms;
}
.line:nth-child(58) .graphic {
  -webkit-animation-delay: -9994ms;
          animation-delay: -9994ms;
}
.line:nth-child(58) .star {
  transform: rotateZ(168deg) translateX(286px);
}
.line:nth-child(59) {
  -webkit-animation-delay: -3687ms;
          animation-delay: -3687ms;
}
.line:nth-child(59) .graphic {
  -webkit-animation-delay: -3687ms;
          animation-delay: -3687ms;
}
.line:nth-child(59) .star {
  transform: rotateZ(303deg) translateX(26px);
}
.line:nth-child(60) {
  -webkit-animation-delay: -8252ms;
          animation-delay: -8252ms;
}
.line:nth-child(60) .graphic {
  -webkit-animation-delay: -8252ms;
          animation-delay: -8252ms;
}
.line:nth-child(60) .star {
  transform: rotateZ(178deg) translateX(177px);
}
.line:nth-child(61) {
  -webkit-animation-delay: -5715ms;
          animation-delay: -5715ms;
}
.line:nth-child(61) .graphic {
  -webkit-animation-delay: -5715ms;
          animation-delay: -5715ms;
}
.line:nth-child(61) .star {
  transform: rotateZ(185deg) translateX(139px);
}
.line:nth-child(62) {
  -webkit-animation-delay: -1530ms;
          animation-delay: -1530ms;
}
.line:nth-child(62) .graphic {
  -webkit-animation-delay: -1530ms;
          animation-delay: -1530ms;
}
.line:nth-child(62) .star {
  transform: rotateZ(274deg) translateX(288px);
}
.line:nth-child(63) {
  -webkit-animation-delay: -3896ms;
          animation-delay: -3896ms;
}
.line:nth-child(63) .graphic {
  -webkit-animation-delay: -3896ms;
          animation-delay: -3896ms;
}
.line:nth-child(63) .star {
  transform: rotateZ(83deg) translateX(227px);
}
.line:nth-child(64) {
  -webkit-animation-delay: -4212ms;
          animation-delay: -4212ms;
}
.line:nth-child(64) .graphic {
  -webkit-animation-delay: -4212ms;
          animation-delay: -4212ms;
}
.line:nth-child(64) .star {
  transform: rotateZ(159deg) translateX(36px);
}
.line:nth-child(65) {
  -webkit-animation-delay: -2687ms;
          animation-delay: -2687ms;
}
.line:nth-child(65) .graphic {
  -webkit-animation-delay: -2687ms;
          animation-delay: -2687ms;
}
.line:nth-child(65) .star {
  transform: rotateZ(99deg) translateX(102px);
}
.line:nth-child(66) {
  -webkit-animation-delay: -8969ms;
          animation-delay: -8969ms;
}
.line:nth-child(66) .graphic {
  -webkit-animation-delay: -8969ms;
          animation-delay: -8969ms;
}
.line:nth-child(66) .star {
  transform: rotateZ(13deg) translateX(144px);
}
.line:nth-child(67) {
  -webkit-animation-delay: -809ms;
          animation-delay: -809ms;
}
.line:nth-child(67) .graphic {
  -webkit-animation-delay: -809ms;
          animation-delay: -809ms;
}
.line:nth-child(67) .star {
  transform: rotateZ(238deg) translateX(257px);
}
.line:nth-child(68) {
  -webkit-animation-delay: -7631ms;
          animation-delay: -7631ms;
}
.line:nth-child(68) .graphic {
  -webkit-animation-delay: -7631ms;
          animation-delay: -7631ms;
}
.line:nth-child(68) .star {
  transform: rotateZ(238deg) translateX(244px);
}
.line:nth-child(69) {
  -webkit-animation-delay: -2582ms;
          animation-delay: -2582ms;
}
.line:nth-child(69) .graphic {
  -webkit-animation-delay: -2582ms;
          animation-delay: -2582ms;
}
.line:nth-child(69) .star {
  transform: rotateZ(50deg) translateX(263px);
}
.line:nth-child(70) {
  -webkit-animation-delay: -6886ms;
          animation-delay: -6886ms;
}
.line:nth-child(70) .graphic {
  -webkit-animation-delay: -6886ms;
          animation-delay: -6886ms;
}
.line:nth-child(70) .star {
  transform: rotateZ(143deg) translateX(179px);
}
.line:nth-child(71) {
  -webkit-animation-delay: -2690ms;
          animation-delay: -2690ms;
}
.line:nth-child(71) .graphic {
  -webkit-animation-delay: -2690ms;
          animation-delay: -2690ms;
}
.line:nth-child(71) .star {
  transform: rotateZ(313deg) translateX(59px);
}
.line:nth-child(72) {
  -webkit-animation-delay: -1903ms;
          animation-delay: -1903ms;
}
.line:nth-child(72) .graphic {
  -webkit-animation-delay: -1903ms;
          animation-delay: -1903ms;
}
.line:nth-child(72) .star {
  transform: rotateZ(193deg) translateX(60px);
}
.line:nth-child(73) {
  -webkit-animation-delay: -3347ms;
          animation-delay: -3347ms;
}
.line:nth-child(73) .graphic {
  -webkit-animation-delay: -3347ms;
          animation-delay: -3347ms;
}
.line:nth-child(73) .star {
  transform: rotateZ(184deg) translateX(78px);
}
.line:nth-child(74) {
  -webkit-animation-delay: -1063ms;
          animation-delay: -1063ms;
}
.line:nth-child(74) .graphic {
  -webkit-animation-delay: -1063ms;
          animation-delay: -1063ms;
}
.line:nth-child(74) .star {
  transform: rotateZ(68deg) translateX(310px);
}
.line:nth-child(75) {
  -webkit-animation-delay: -9564ms;
          animation-delay: -9564ms;
}
.line:nth-child(75) .graphic {
  -webkit-animation-delay: -9564ms;
          animation-delay: -9564ms;
}
.line:nth-child(75) .star {
  transform: rotateZ(38deg) translateX(264px);
}
.line:nth-child(76) {
  -webkit-animation-delay: -2290ms;
          animation-delay: -2290ms;
}
.line:nth-child(76) .graphic {
  -webkit-animation-delay: -2290ms;
          animation-delay: -2290ms;
}
.line:nth-child(76) .star {
  transform: rotateZ(22deg) translateX(101px);
}
.line:nth-child(77) {
  -webkit-animation-delay: -1077ms;
          animation-delay: -1077ms;
}
.line:nth-child(77) .graphic {
  -webkit-animation-delay: -1077ms;
          animation-delay: -1077ms;
}
.line:nth-child(77) .star {
  transform: rotateZ(171deg) translateX(212px);
}
.line:nth-child(78) {
  -webkit-animation-delay: -1665ms;
          animation-delay: -1665ms;
}
.line:nth-child(78) .graphic {
  -webkit-animation-delay: -1665ms;
          animation-delay: -1665ms;
}
.line:nth-child(78) .star {
  transform: rotateZ(350deg) translateX(58px);
}
.line:nth-child(79) {
  -webkit-animation-delay: -274ms;
          animation-delay: -274ms;
}
.line:nth-child(79) .graphic {
  -webkit-animation-delay: -274ms;
          animation-delay: -274ms;
}
.line:nth-child(79) .star {
  transform: rotateZ(332deg) translateX(67px);
}
.line:nth-child(80) {
  -webkit-animation-delay: -1585ms;
          animation-delay: -1585ms;
}
.line:nth-child(80) .graphic {
  -webkit-animation-delay: -1585ms;
          animation-delay: -1585ms;
}
.line:nth-child(80) .star {
  transform: rotateZ(170deg) translateX(301px);
}
.line:nth-child(81) {
  -webkit-animation-delay: -1036ms;
          animation-delay: -1036ms;
}
.line:nth-child(81) .graphic {
  -webkit-animation-delay: -1036ms;
          animation-delay: -1036ms;
}
.line:nth-child(81) .star {
  transform: rotateZ(271deg) translateX(131px);
}
.line:nth-child(82) {
  -webkit-animation-delay: -2140ms;
          animation-delay: -2140ms;
}
.line:nth-child(82) .graphic {
  -webkit-animation-delay: -2140ms;
          animation-delay: -2140ms;
}
.line:nth-child(82) .star {
  transform: rotateZ(187deg) translateX(86px);
}
.line:nth-child(83) {
  -webkit-animation-delay: -9157ms;
          animation-delay: -9157ms;
}
.line:nth-child(83) .graphic {
  -webkit-animation-delay: -9157ms;
          animation-delay: -9157ms;
}
.line:nth-child(83) .star {
  transform: rotateZ(68deg) translateX(301px);
}
.line:nth-child(84) {
  -webkit-animation-delay: -9759ms;
          animation-delay: -9759ms;
}
.line:nth-child(84) .graphic {
  -webkit-animation-delay: -9759ms;
          animation-delay: -9759ms;
}
.line:nth-child(84) .star {
  transform: rotateZ(263deg) translateX(189px);
}
.line:nth-child(85) {
  -webkit-animation-delay: -3253ms;
          animation-delay: -3253ms;
}
.line:nth-child(85) .graphic {
  -webkit-animation-delay: -3253ms;
          animation-delay: -3253ms;
}
.line:nth-child(85) .star {
  transform: rotateZ(11deg) translateX(197px);
}
.line:nth-child(86) {
  -webkit-animation-delay: -9240ms;
          animation-delay: -9240ms;
}
.line:nth-child(86) .graphic {
  -webkit-animation-delay: -9240ms;
          animation-delay: -9240ms;
}
.line:nth-child(86) .star {
  transform: rotateZ(246deg) translateX(34px);
}
.line:nth-child(87) {
  -webkit-animation-delay: -613ms;
          animation-delay: -613ms;
}
.line:nth-child(87) .graphic {
  -webkit-animation-delay: -613ms;
          animation-delay: -613ms;
}
.line:nth-child(87) .star {
  transform: rotateZ(104deg) translateX(181px);
}
.line:nth-child(88) {
  -webkit-animation-delay: -5509ms;
          animation-delay: -5509ms;
}
.line:nth-child(88) .graphic {
  -webkit-animation-delay: -5509ms;
          animation-delay: -5509ms;
}
.line:nth-child(88) .star {
  transform: rotateZ(326deg) translateX(127px);
}
.line:nth-child(89) {
  -webkit-animation-delay: -8565ms;
          animation-delay: -8565ms;
}
.line:nth-child(89) .graphic {
  -webkit-animation-delay: -8565ms;
          animation-delay: -8565ms;
}
.line:nth-child(89) .star {
  transform: rotateZ(92deg) translateX(40px);
}
.line:nth-child(90) {
  -webkit-animation-delay: -5842ms;
          animation-delay: -5842ms;
}
.line:nth-child(90) .graphic {
  -webkit-animation-delay: -5842ms;
          animation-delay: -5842ms;
}
.line:nth-child(90) .star {
  transform: rotateZ(16deg) translateX(291px);
}
.line:nth-child(91) {
  -webkit-animation-delay: -8386ms;
          animation-delay: -8386ms;
}
.line:nth-child(91) .graphic {
  -webkit-animation-delay: -8386ms;
          animation-delay: -8386ms;
}
.line:nth-child(91) .star {
  transform: rotateZ(35deg) translateX(308px);
}
.line:nth-child(92) {
  -webkit-animation-delay: -7605ms;
          animation-delay: -7605ms;
}
.line:nth-child(92) .graphic {
  -webkit-animation-delay: -7605ms;
          animation-delay: -7605ms;
}
.line:nth-child(92) .star {
  transform: rotateZ(199deg) translateX(264px);
}
.line:nth-child(93) {
  -webkit-animation-delay: -6813ms;
          animation-delay: -6813ms;
}
.line:nth-child(93) .graphic {
  -webkit-animation-delay: -6813ms;
          animation-delay: -6813ms;
}
.line:nth-child(93) .star {
  transform: rotateZ(346deg) translateX(307px);
}
.line:nth-child(94) {
  -webkit-animation-delay: -8567ms;
          animation-delay: -8567ms;
}
.line:nth-child(94) .graphic {
  -webkit-animation-delay: -8567ms;
          animation-delay: -8567ms;
}
.line:nth-child(94) .star {
  transform: rotateZ(339deg) translateX(257px);
}
.line:nth-child(95) {
  -webkit-animation-delay: -8354ms;
          animation-delay: -8354ms;
}
.line:nth-child(95) .graphic {
  -webkit-animation-delay: -8354ms;
          animation-delay: -8354ms;
}
.line:nth-child(95) .star {
  transform: rotateZ(127deg) translateX(84px);
}
.line:nth-child(96) {
  -webkit-animation-delay: -2773ms;
          animation-delay: -2773ms;
}
.line:nth-child(96) .graphic {
  -webkit-animation-delay: -2773ms;
          animation-delay: -2773ms;
}
.line:nth-child(96) .star {
  transform: rotateZ(135deg) translateX(66px);
}
.line:nth-child(97) {
  -webkit-animation-delay: -9494ms;
          animation-delay: -9494ms;
}
.line:nth-child(97) .graphic {
  -webkit-animation-delay: -9494ms;
          animation-delay: -9494ms;
}
.line:nth-child(97) .star {
  transform: rotateZ(116deg) translateX(186px);
}
.line:nth-child(98) {
  -webkit-animation-delay: -347ms;
          animation-delay: -347ms;
}
.line:nth-child(98) .graphic {
  -webkit-animation-delay: -347ms;
          animation-delay: -347ms;
}
.line:nth-child(98) .star {
  transform: rotateZ(244deg) translateX(198px);
}
.line:nth-child(99) {
  -webkit-animation-delay: -3835ms;
          animation-delay: -3835ms;
}
.line:nth-child(99) .graphic {
  -webkit-animation-delay: -3835ms;
          animation-delay: -3835ms;
}
.line:nth-child(99) .star {
  transform: rotateZ(129deg) translateX(280px);
}
.line:nth-child(100) {
  -webkit-animation-delay: -7023ms;
          animation-delay: -7023ms;
}
.line:nth-child(100) .graphic {
  -webkit-animation-delay: -7023ms;
          animation-delay: -7023ms;
}
.line:nth-child(100) .star {
  transform: rotateZ(45deg) translateX(268px);
}
.line:nth-child(101) {
  -webkit-animation-delay: -7304ms;
          animation-delay: -7304ms;
}
.line:nth-child(101) .graphic {
  -webkit-animation-delay: -7304ms;
          animation-delay: -7304ms;
}
.line:nth-child(101) .star {
  transform: rotateZ(106deg) translateX(199px);
}
.line:nth-child(102) {
  -webkit-animation-delay: -1012ms;
          animation-delay: -1012ms;
}
.line:nth-child(102) .graphic {
  -webkit-animation-delay: -1012ms;
          animation-delay: -1012ms;
}
.line:nth-child(102) .star {
  transform: rotateZ(41deg) translateX(201px);
}
.line:nth-child(103) {
  -webkit-animation-delay: -9393ms;
          animation-delay: -9393ms;
}
.line:nth-child(103) .graphic {
  -webkit-animation-delay: -9393ms;
          animation-delay: -9393ms;
}
.line:nth-child(103) .star {
  transform: rotateZ(8deg) translateX(219px);
}
.line:nth-child(104) {
  -webkit-animation-delay: -2825ms;
          animation-delay: -2825ms;
}
.line:nth-child(104) .graphic {
  -webkit-animation-delay: -2825ms;
          animation-delay: -2825ms;
}
.line:nth-child(104) .star {
  transform: rotateZ(162deg) translateX(262px);
}
.line:nth-child(105) {
  -webkit-animation-delay: -8277ms;
          animation-delay: -8277ms;
}
.line:nth-child(105) .graphic {
  -webkit-animation-delay: -8277ms;
          animation-delay: -8277ms;
}
.line:nth-child(105) .star {
  transform: rotateZ(97deg) translateX(48px);
}
.line:nth-child(106) {
  -webkit-animation-delay: -1352ms;
          animation-delay: -1352ms;
}
.line:nth-child(106) .graphic {
  -webkit-animation-delay: -1352ms;
          animation-delay: -1352ms;
}
.line:nth-child(106) .star {
  transform: rotateZ(131deg) translateX(118px);
}
.line:nth-child(107) {
  -webkit-animation-delay: -7230ms;
          animation-delay: -7230ms;
}
.line:nth-child(107) .graphic {
  -webkit-animation-delay: -7230ms;
          animation-delay: -7230ms;
}
.line:nth-child(107) .star {
  transform: rotateZ(256deg) translateX(256px);
}
.line:nth-child(108) {
  -webkit-animation-delay: -7434ms;
          animation-delay: -7434ms;
}
.line:nth-child(108) .graphic {
  -webkit-animation-delay: -7434ms;
          animation-delay: -7434ms;
}
.line:nth-child(108) .star {
  transform: rotateZ(92deg) translateX(165px);
}
.line:nth-child(109) {
  -webkit-animation-delay: -7555ms;
          animation-delay: -7555ms;
}
.line:nth-child(109) .graphic {
  -webkit-animation-delay: -7555ms;
          animation-delay: -7555ms;
}
.line:nth-child(109) .star {
  transform: rotateZ(253deg) translateX(133px);
}
.line:nth-child(110) {
  -webkit-animation-delay: -4963ms;
          animation-delay: -4963ms;
}
.line:nth-child(110) .graphic {
  -webkit-animation-delay: -4963ms;
          animation-delay: -4963ms;
}
.line:nth-child(110) .star {
  transform: rotateZ(188deg) translateX(239px);
}
.line:nth-child(111) {
  -webkit-animation-delay: -4977ms;
          animation-delay: -4977ms;
}
.line:nth-child(111) .graphic {
  -webkit-animation-delay: -4977ms;
          animation-delay: -4977ms;
}
.line:nth-child(111) .star {
  transform: rotateZ(78deg) translateX(75px);
}
.line:nth-child(112) {
  -webkit-animation-delay: -2656ms;
          animation-delay: -2656ms;
}
.line:nth-child(112) .graphic {
  -webkit-animation-delay: -2656ms;
          animation-delay: -2656ms;
}
.line:nth-child(112) .star {
  transform: rotateZ(345deg) translateX(93px);
}
.line:nth-child(113) {
  -webkit-animation-delay: -9800ms;
          animation-delay: -9800ms;
}
.line:nth-child(113) .graphic {
  -webkit-animation-delay: -9800ms;
          animation-delay: -9800ms;
}
.line:nth-child(113) .star {
  transform: rotateZ(260deg) translateX(71px);
}
.line:nth-child(114) {
  -webkit-animation-delay: -6512ms;
          animation-delay: -6512ms;
}
.line:nth-child(114) .graphic {
  -webkit-animation-delay: -6512ms;
          animation-delay: -6512ms;
}
.line:nth-child(114) .star {
  transform: rotateZ(330deg) translateX(204px);
}
.line:nth-child(115) {
  -webkit-animation-delay: -7268ms;
          animation-delay: -7268ms;
}
.line:nth-child(115) .graphic {
  -webkit-animation-delay: -7268ms;
          animation-delay: -7268ms;
}
.line:nth-child(115) .star {
  transform: rotateZ(114deg) translateX(87px);
}
.line:nth-child(116) {
  -webkit-animation-delay: -4060ms;
          animation-delay: -4060ms;
}
.line:nth-child(116) .graphic {
  -webkit-animation-delay: -4060ms;
          animation-delay: -4060ms;
}
.line:nth-child(116) .star {
  transform: rotateZ(119deg) translateX(317px);
}
.line:nth-child(117) {
  -webkit-animation-delay: -6808ms;
          animation-delay: -6808ms;
}
.line:nth-child(117) .graphic {
  -webkit-animation-delay: -6808ms;
          animation-delay: -6808ms;
}
.line:nth-child(117) .star {
  transform: rotateZ(317deg) translateX(296px);
}
.line:nth-child(118) {
  -webkit-animation-delay: -9536ms;
          animation-delay: -9536ms;
}
.line:nth-child(118) .graphic {
  -webkit-animation-delay: -9536ms;
          animation-delay: -9536ms;
}
.line:nth-child(118) .star {
  transform: rotateZ(14deg) translateX(111px);
}
.line:nth-child(119) {
  -webkit-animation-delay: -4830ms;
          animation-delay: -4830ms;
}
.line:nth-child(119) .graphic {
  -webkit-animation-delay: -4830ms;
          animation-delay: -4830ms;
}
.line:nth-child(119) .star {
  transform: rotateZ(322deg) translateX(215px);
}
.line:nth-child(120) {
  -webkit-animation-delay: -6498ms;
          animation-delay: -6498ms;
}
.line:nth-child(120) .graphic {
  -webkit-animation-delay: -6498ms;
          animation-delay: -6498ms;
}
.line:nth-child(120) .star {
  transform: rotateZ(195deg) translateX(130px);
}
.line:nth-child(121) {
  -webkit-animation-delay: -7294ms;
          animation-delay: -7294ms;
}
.line:nth-child(121) .graphic {
  -webkit-animation-delay: -7294ms;
          animation-delay: -7294ms;
}
.line:nth-child(121) .star {
  transform: rotateZ(1deg) translateX(56px);
}
.line:nth-child(122) {
  -webkit-animation-delay: -9376ms;
          animation-delay: -9376ms;
}
.line:nth-child(122) .graphic {
  -webkit-animation-delay: -9376ms;
          animation-delay: -9376ms;
}
.line:nth-child(122) .star {
  transform: rotateZ(337deg) translateX(84px);
}
.line:nth-child(123) {
  -webkit-animation-delay: -5777ms;
          animation-delay: -5777ms;
}
.line:nth-child(123) .graphic {
  -webkit-animation-delay: -5777ms;
          animation-delay: -5777ms;
}
.line:nth-child(123) .star {
  transform: rotateZ(326deg) translateX(55px);
}
.line:nth-child(124) {
  -webkit-animation-delay: -2655ms;
          animation-delay: -2655ms;
}
.line:nth-child(124) .graphic {
  -webkit-animation-delay: -2655ms;
          animation-delay: -2655ms;
}
.line:nth-child(124) .star {
  transform: rotateZ(23deg) translateX(265px);
}
.line:nth-child(125) {
  -webkit-animation-delay: -4534ms;
          animation-delay: -4534ms;
}
.line:nth-child(125) .graphic {
  -webkit-animation-delay: -4534ms;
          animation-delay: -4534ms;
}
.line:nth-child(125) .star {
  transform: rotateZ(196deg) translateX(84px);
}
.line:nth-child(126) {
  -webkit-animation-delay: -3348ms;
          animation-delay: -3348ms;
}
.line:nth-child(126) .graphic {
  -webkit-animation-delay: -3348ms;
          animation-delay: -3348ms;
}
.line:nth-child(126) .star {
  transform: rotateZ(269deg) translateX(146px);
}
.line:nth-child(127) {
  -webkit-animation-delay: -8081ms;
          animation-delay: -8081ms;
}
.line:nth-child(127) .graphic {
  -webkit-animation-delay: -8081ms;
          animation-delay: -8081ms;
}
.line:nth-child(127) .star {
  transform: rotateZ(240deg) translateX(34px);
}
.line:nth-child(128) {
  -webkit-animation-delay: -2654ms;
          animation-delay: -2654ms;
}
.line:nth-child(128) .graphic {
  -webkit-animation-delay: -2654ms;
          animation-delay: -2654ms;
}
.line:nth-child(128) .star {
  transform: rotateZ(109deg) translateX(217px);
}
.line:nth-child(129) {
  -webkit-animation-delay: -3562ms;
          animation-delay: -3562ms;
}
.line:nth-child(129) .graphic {
  -webkit-animation-delay: -3562ms;
          animation-delay: -3562ms;
}
.line:nth-child(129) .star {
  transform: rotateZ(278deg) translateX(83px);
}
.line:nth-child(130) {
  -webkit-animation-delay: -9425ms;
          animation-delay: -9425ms;
}
.line:nth-child(130) .graphic {
  -webkit-animation-delay: -9425ms;
          animation-delay: -9425ms;
}
.line:nth-child(130) .star {
  transform: rotateZ(226deg) translateX(87px);
}
.line:nth-child(131) {
  -webkit-animation-delay: -595ms;
          animation-delay: -595ms;
}
.line:nth-child(131) .graphic {
  -webkit-animation-delay: -595ms;
          animation-delay: -595ms;
}
.line:nth-child(131) .star {
  transform: rotateZ(147deg) translateX(57px);
}
.line:nth-child(132) {
  -webkit-animation-delay: -4807ms;
          animation-delay: -4807ms;
}
.line:nth-child(132) .graphic {
  -webkit-animation-delay: -4807ms;
          animation-delay: -4807ms;
}
.line:nth-child(132) .star {
  transform: rotateZ(175deg) translateX(25px);
}
.line:nth-child(133) {
  -webkit-animation-delay: -8514ms;
          animation-delay: -8514ms;
}
.line:nth-child(133) .graphic {
  -webkit-animation-delay: -8514ms;
          animation-delay: -8514ms;
}
.line:nth-child(133) .star {
  transform: rotateZ(61deg) translateX(35px);
}
.line:nth-child(134) {
  -webkit-animation-delay: -5737ms;
          animation-delay: -5737ms;
}
.line:nth-child(134) .graphic {
  -webkit-animation-delay: -5737ms;
          animation-delay: -5737ms;
}
.line:nth-child(134) .star {
  transform: rotateZ(130deg) translateX(162px);
}
.line:nth-child(135) {
  -webkit-animation-delay: -5626ms;
          animation-delay: -5626ms;
}
.line:nth-child(135) .graphic {
  -webkit-animation-delay: -5626ms;
          animation-delay: -5626ms;
}
.line:nth-child(135) .star {
  transform: rotateZ(360deg) translateX(59px);
}
.line:nth-child(136) {
  -webkit-animation-delay: -8583ms;
          animation-delay: -8583ms;
}
.line:nth-child(136) .graphic {
  -webkit-animation-delay: -8583ms;
          animation-delay: -8583ms;
}
.line:nth-child(136) .star {
  transform: rotateZ(163deg) translateX(154px);
}
.line:nth-child(137) {
  -webkit-animation-delay: -7445ms;
          animation-delay: -7445ms;
}
.line:nth-child(137) .graphic {
  -webkit-animation-delay: -7445ms;
          animation-delay: -7445ms;
}
.line:nth-child(137) .star {
  transform: rotateZ(138deg) translateX(314px);
}
.line:nth-child(138) {
  -webkit-animation-delay: -9366ms;
          animation-delay: -9366ms;
}
.line:nth-child(138) .graphic {
  -webkit-animation-delay: -9366ms;
          animation-delay: -9366ms;
}
.line:nth-child(138) .star {
  transform: rotateZ(108deg) translateX(43px);
}
.line:nth-child(139) {
  -webkit-animation-delay: -6638ms;
          animation-delay: -6638ms;
}
.line:nth-child(139) .graphic {
  -webkit-animation-delay: -6638ms;
          animation-delay: -6638ms;
}
.line:nth-child(139) .star {
  transform: rotateZ(287deg) translateX(238px);
}
.line:nth-child(140) {
  -webkit-animation-delay: -9399ms;
          animation-delay: -9399ms;
}
.line:nth-child(140) .graphic {
  -webkit-animation-delay: -9399ms;
          animation-delay: -9399ms;
}
.line:nth-child(140) .star {
  transform: rotateZ(226deg) translateX(198px);
}
.line:nth-child(141) {
  -webkit-animation-delay: -8706ms;
          animation-delay: -8706ms;
}
.line:nth-child(141) .graphic {
  -webkit-animation-delay: -8706ms;
          animation-delay: -8706ms;
}
.line:nth-child(141) .star {
  transform: rotateZ(64deg) translateX(262px);
}
.line:nth-child(142) {
  -webkit-animation-delay: -9299ms;
          animation-delay: -9299ms;
}
.line:nth-child(142) .graphic {
  -webkit-animation-delay: -9299ms;
          animation-delay: -9299ms;
}
.line:nth-child(142) .star {
  transform: rotateZ(326deg) translateX(44px);
}
.line:nth-child(143) {
  -webkit-animation-delay: -674ms;
          animation-delay: -674ms;
}
.line:nth-child(143) .graphic {
  -webkit-animation-delay: -674ms;
          animation-delay: -674ms;
}
.line:nth-child(143) .star {
  transform: rotateZ(199deg) translateX(105px);
}
.line:nth-child(144) {
  -webkit-animation-delay: -1934ms;
          animation-delay: -1934ms;
}
.line:nth-child(144) .graphic {
  -webkit-animation-delay: -1934ms;
          animation-delay: -1934ms;
}
.line:nth-child(144) .star {
  transform: rotateZ(238deg) translateX(32px);
}
.line:nth-child(145) {
  -webkit-animation-delay: -2844ms;
          animation-delay: -2844ms;
}
.line:nth-child(145) .graphic {
  -webkit-animation-delay: -2844ms;
          animation-delay: -2844ms;
}
.line:nth-child(145) .star {
  transform: rotateZ(72deg) translateX(42px);
}
.line:nth-child(146) {
  -webkit-animation-delay: -6598ms;
          animation-delay: -6598ms;
}
.line:nth-child(146) .graphic {
  -webkit-animation-delay: -6598ms;
          animation-delay: -6598ms;
}
.line:nth-child(146) .star {
  transform: rotateZ(6deg) translateX(231px);
}
.line:nth-child(147) {
  -webkit-animation-delay: -1436ms;
          animation-delay: -1436ms;
}
.line:nth-child(147) .graphic {
  -webkit-animation-delay: -1436ms;
          animation-delay: -1436ms;
}
.line:nth-child(147) .star {
  transform: rotateZ(152deg) translateX(198px);
}
.line:nth-child(148) {
  -webkit-animation-delay: -2980ms;
          animation-delay: -2980ms;
}
.line:nth-child(148) .graphic {
  -webkit-animation-delay: -2980ms;
          animation-delay: -2980ms;
}
.line:nth-child(148) .star {
  transform: rotateZ(188deg) translateX(214px);
}
.line:nth-child(149) {
  -webkit-animation-delay: -8824ms;
          animation-delay: -8824ms;
}
.line:nth-child(149) .graphic {
  -webkit-animation-delay: -8824ms;
          animation-delay: -8824ms;
}
.line:nth-child(149) .star {
  transform: rotateZ(35deg) translateX(165px);
}
.line:nth-child(150) {
  -webkit-animation-delay: -9425ms;
          animation-delay: -9425ms;
}
.line:nth-child(150) .graphic {
  -webkit-animation-delay: -9425ms;
          animation-delay: -9425ms;
}
.line:nth-child(150) .star {
  transform: rotateZ(252deg) translateX(149px);
}

.star {
  transform-style: preserve-3d;
}

.graphic {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  transition: 2000ms;
  transform-origin: 0 0;
  transform: rotateY(-90deg);
  transform-style: preserve-3d;
  -webkit-animation: fade 3000ms linear infinite;
          animation: fade 3000ms linear infinite;
}

@-webkit-keyframes move {
  0% {
    transform: translateZ(-500px);
  }
  100% {
    transform: translateZ(500px);
  }
}

@keyframes move {
  0% {
    transform: translateZ(-500px);
  }
  100% {
    transform: translateZ(500px);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=3d-1.css.map */