* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  overflow: hidden;
}

.wrapper {
  perspective: 1000px;
  height: 100vh;
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 100px 0;
  height: 900px;
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(0deg);
  pointer-events: none;

  .card {
    &:nth-child(1) {
      transform: translateZ(200px);
    }
    &:nth-child(3) {
      transform: translateZ(-200px);
    }
  }
  &--front.is-animation {
    animation: rotate1 6s both;
  }
  &--back {
    transform: rotateX(-10deg) rotateY(-180deg);
    &.is-animation {
      animation: rotate2 6s both;
    }
    .card .item {
      background-image: url("../img/card/bg-card.png");
    }
  }
  @keyframes rotate1 {
    0% {
      transform: rotateX(-10deg) rotateY(720deg);
    }
    100% {
      transform: rotateX(-10deg) rotateY(0);
    }
  }
  @keyframes rotate2 {
    0% {
      transform: rotateX(-10deg) rotateY(540deg);
    }
    100% {
      transform: rotateX(-10deg) rotateY(-180deg);
    }
  }
}

.card {
  position: absolute;
  top: 50px;
  left: 0;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  transform-style: preserve-3d;
  pointer-events: none;
  backface-visibility: hidden;
}
.item {
  margin: 0 auto;
  width: 80px;
  height: 110px;
  background-size: 100% auto;
  background-repeat: no-repeat;

  // pointer-events: visible;
  cursor: pointer;
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      background-image: url("../img/card/card#{random(5)}.png");
    }
  }
}
