* {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

$size: 1024px;

.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -$size/2;
  margin-left: -$size/2;
  perspective: 500px;
  perspective-origin: center;
}
.cube {
  margin: auto;
  position: relative;
  width: $size;
  height: $size;
  transform-style: preserve-3d;
  pointer-events: none; 
  //animation: spin 5s both linear infinite;
}
.flat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% auto;

  &:nth-child(6) {
    transform: rotateY(90deg) translateZ(-$size/2);
    background-image: url(../img/3d/bg1.jpg);
  }
  &:nth-child(5) {
    transform: rotateY(-90deg) translateZ(-$size/2);
    background-image: url(../img/3d/bg3.jpg);
  }
  &:nth-child(4) {
   
    transform: rotateX(-90deg) translateZ(-$size/2);
    background-image: url(../img/3d/bg6.jpg);
  }
  &:nth-child(3) {
    transform: rotateX(90deg) translateZ(-$size/2);
    background-image: url(../img/3d/bg5.jpg);
  }
  &:nth-child(2) {
    transform: translateZ(-$size/2);
    background-image: url(../img/3d/bg2.jpg);
  }
  &:nth-child(1) {
    transform: rotateY(180deg) translateZ(-$size/2);
    background-image: url(../img/3d/bg4.jpg);
  }
}

@keyframes spin1 {
  from {
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
