* {
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

$size: 1024px;

.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -$size/2;
  margin-left: -$size/2;
  perspective: 50px;
  perspective-origin: center;
  transform: scale(9);
  cursor: move;
}
.cube {
  margin: auto;
  position: relative;
  width: $size;
  height: $size;
  transform-style: preserve-3d;
  pointer-events: none; 
  transition: .2s;
  //animation: spin 5s both linear infinite;
}
.flat {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-size: 100% auto;

  &.back {
    transform: rotateY(90deg) translateZ(-$size/2);
    background-image: url(../img/3d/back.png);
  }
  &.front{
    transform: rotateY(-90deg) translateZ(-$size/2);
    background-image: url(../img/3d/front.png);
  }
  &.up {
    transform: rotateX(-90deg) rotateZ(270deg) translateZ(-$size/2);
    background-image: url(../img/3d/up.png);
  }
  &.down {
    transform: rotateX(90deg) translateZ(-$size/2);
    background-image: url(../img/3d/down.png);
  }
  &.left {
    transform: translateZ(-$size/2);
    background-image: url(../img/3d/left.png);
  }
  &.down{
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-$size/2);
    background-image: url(../img/3d/bottom.png);
  }
  &.right{
    transform: translateZ($size/2) rotateY(180deg);
    background-image: url(../img/3d/right.png);
  }
  // &:nth-child(1) {
  //   transform: rotateY(180deg) translateZ(-$size/2);
  //   background-image: url(../img/3d/bg4.jpg);
  // }
}

@keyframes spin1 {
  from {
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
