*{
  margin: 0;
  padding: 0;
}
:root{
  --size: 1000px;

}
.wrapper{
  perspective: 1px;
  .inner{
    position: relative;
    margin: 0 auto;
    width: var(--size);
    height: var(--size);
    transform-style: preserve-3d;
    div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:after{
        position: absolute;
        width: 200px;
        height: 5px;
        background: #fff;
        content: '';
      }
    }
  }
  
  .left {
    transform: rotateY(90deg) translateZ(calc(var(--size) / -2));
    background: rgb(random(255),random(255),random(255));
  }
  .back {
    transform: translateZ(calc(var(--size) / -2));
    background: rgb(random(255),random(255),random(255));
  }
  .right {
    transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
    background: rgb(random(255),random(255),random(255));
  }
  .front {
    transform: translateZ(calc(var(--size) / 2));
    background: rgb(random(255),random(255),random(255));
  }
  .top {
    transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
    background: rgb(random(255),random(255),random(255));
  }
  .bottom {
    transform: rotateX(90deg) translateZ(calc(var(--size) / -2));
    background: rgb(random(255),random(255),random(255));
  }
}
