<!DOCTYPE html>
<html class="bty-transform-root" lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="color-scheme" content="light dark">
  <title>beautify1</title>
  <link rel="stylesheet/less" type="text/css" href="css/index.less" />
  <script src="js/less.js"></script>
</head>

<body>
  <div id="beautify" class="bty-transform-wrapper">
    <div class="bty-transform-module">
      <div class="bty-transform-search">
        <input type="text" class="bty-transform-search__input" placeholder="请输入要搜索的内容">
        <button class="bty-transform-search__button">搜索</button>
      </div>
    </div>
    <div class="bty-transform-module">
      <nav class="bty-transform-nav bty-transform-column-3">
        <ul>
          <li class="bty-transform-nav__item"  v-for="(item, index) in navList" :key="index">
            <a href="#"> {{item }}</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="bty-transform-module">
      <nav class="bty-transform-nav bty-transform-column-4">
        <ul>
          <li class="bty-transform-nav__item"  v-for="(item, index) in navList" :key="index">
            <a href="#"> {{item }}</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="bty-transform-module">
      <nav class="bty-transform-nav bty-transform-column-5">
        <ul>
          <li class="bty-transform-nav__item"  v-for="(item, index) in navList" :key="index">
            <a href="#"> {{item }}</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="bty-transform-module">
      <header class="bty-transform-header">
        <h2 class="bty-transform-title">最新电影</h2>
        <a href="#" class="bty-transform-header__more">更多&gt;</a>
      </header>
      <div class="bty-transform-image-list bty-transform-column-3">
        <ul>
          <li v-for="(item, index) in imageList" :key="index">
            <a class="bty-transform-image-list__link" :href="item.link" target="_blank">
              <figure class="bty-transform-image-list__figure">
                <img decoding="async" :src="item.src" :alt="item.title">
                <figcaption>{{item.title}}</figcaption>
              </figure>
              <span class="bty-transform-image-list__tag">连载至38</span>
            </a>
          </li>
        </ul>
      </div>
     
    </div>

    <div class="bty-transform-module">
      <header class="bty-transform-header">
        <h2 class="bty-transform-title">最新电视剧</h2>
        <a href="#" class="bty-transform-header__more">更多&gt;</a>
      </header>
      <div class="bty-transform-image-list bty-transform-column-2">
        <ul>
          <li v-for="(item, index) in imageList" :key="index">
            <a class="bty-transform-image-list__link" :href="item.link" target="_blank">
              <figure class="bty-transform-image-list__figure">
                <img decoding="async" :src="item.src" :alt="item.title">
                <figcaption>{{item.title}}</figcaption>
              </figure>
              <span class="bty-transform-image-list__tag">连载至38</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="bty-transform-module">
      <header class="bty-transform-header">
        <h2 class="bty-transform-title">2023新片精品</h2>
        <a href="#" class="bty-transform-header__more">更多&gt;</a>
      </header>
      <div class="bty-transform-link-list">
        <ul>
          <li v-for="(item, index) in linkList2023" :key="index">
            <div class="bty-transform-link-title">
              <a :href="item.link">{{item.title}}</a>
            </div>
            <span class="bty-transform-date"> {{item.date}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="bty-transform-module">
      <header class="bty-transform-header">
        <h2 class="bty-transform-title">新片速递</h2>
        <a href="#" class="bty-transform-header__more">更多&gt;</a>
      </header>
      <div class="bty-transform-link-list">
        <ul>
          <li v-for="(item, index) in linkList2023" :key="index">
            <div class="bty-transform-link-title">
              <a :href="item.link">{{item.title}}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="bty-transform-module">
      <div class="bty-transform-header">
        <h2 class="bty-transform-title">最新电影更新</h2>
        <a href="#" class="bty-transform-header__more">更多&gt;</a>
      </div>
      <div class="bty-transform-link-list bty-transform-column-2">
        <ul>
          <li v-for="(item, index) in linkList" :key="index">
            <a :href="item.link">{{item.title}}</a>
          </li>
        </ul>
      </div>
    </div>

    <footer class="bty-transform-footer">
      <p>电影天堂 - 电影APP</p>
      <p>Copyright @ 2023 电影天堂-www.dytt8.net. All Rights Reserved</p>
    </footer>
  </div>

  <script src="js/vue3.js"></script>
  <script src="js/data.js"></script>
  <script>

    const { createApp } = Vue

    createApp({

      data() {
        return {
          navList,
          linkList,
          linkList2023,
          imageList,
        }
      }
    }).mount('#beautify')
  </script>
</body>

</html>