* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: arial;
}

body,
html {
  height: 100%;
}

.main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "aheader aheader" "aside acontent";
  height: 100vh;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: aheader;
  background: #eee;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  background: rgba(0, 0, 0, 0.1);
}

section {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: acontent;
  background: rgba(0, 0, 0, 0.15);
}

.list {
  display: -ms-grid;
  display: grid;
  width: 1400px;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.list .item {
  height: 100px;
  background: #eee;
}

.movie {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  height: 600px;
      grid-template-areas: "aa cc" "bb cc" "bb cc";
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  grid-gap: 20px;
  margin: 0 auto;
}

.movie-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aa;
}

.movie-image ul {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  gap: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.movie-image li {
  background: #fff;
  border-radius: 4px;
}

.movie-image li:nth-child(1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.movie-article {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: bb;
  background: rgba(0, 0, 0, 0.15);
}

.movie-list {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: cc;
  background: rgba(0, 0, 0, 0.2);
}

.container {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (100px)[5];
      grid-template-rows: repeat(5, 100px);
      grid-template-areas: 'a a a a' 'b b c c' 'd d d e' 'f g g g' 'h h i i';
  border: solid 2px #000;
}

.item:nth-child(1) {
  background: rgba(0, 150, 255, 0.05);
}

.item:nth-child(1):after {
  margin: auto;
  content: "1";
}

.item:nth-child(2) {
  background: rgba(0, 150, 255, 0.1);
}

.item:nth-child(2):after {
  margin: auto;
  content: "2";
}

.item:nth-child(3) {
  background: rgba(0, 150, 255, 0.15);
}

.item:nth-child(3):after {
  margin: auto;
  content: "3";
}

.item:nth-child(4) {
  background: rgba(0, 150, 255, 0.2);
}

.item:nth-child(4):after {
  margin: auto;
  content: "4";
}

.item:nth-child(5) {
  background: rgba(0, 150, 255, 0.25);
}

.item:nth-child(5):after {
  margin: auto;
  content: "5";
}

.item:nth-child(6) {
  background: rgba(0, 150, 255, 0.3);
}

.item:nth-child(6):after {
  margin: auto;
  content: "6";
}

.item:nth-child(7) {
  background: rgba(0, 150, 255, 0.35);
}

.item:nth-child(7):after {
  margin: auto;
  content: "7";
}

.item:nth-child(8) {
  background: rgba(0, 150, 255, 0.4);
}

.item:nth-child(8):after {
  margin: auto;
  content: "8";
}

.item:nth-child(9) {
  background: rgba(0, 150, 255, 0.45);
}

.item:nth-child(9):after {
  margin: auto;
  content: "9";
}

.item:nth-child(10) {
  background: rgba(0, 150, 255, 0.5);
}

.item:nth-child(10):after {
  margin: auto;
  content: "10";
}

.item:nth-child(11) {
  background: rgba(0, 150, 255, 0.55);
}

.item:nth-child(11):after {
  margin: auto;
  content: "11";
}

.item:nth-child(12) {
  background: rgba(0, 150, 255, 0.6);
}

.item:nth-child(12):after {
  margin: auto;
  content: "12";
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: a;
}

.item:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: b;
}

.item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: c;
}

.item:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: d;
}

.item:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
}

.item:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: i;
}

.item:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: g;
}

.item:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: e;
}
/*# sourceMappingURL=grid.css.map */