/*15% 40% 65% 90%都是重复帧，为了让图形变形后作长时间停留*/
@keyframes deform {
  0% ,100%{
    d: path(
      "M400,84c119.3,0,216,96.7,216,216c0,0,0,0,0,0c0,118-98,216-216,216c-119.3,0-216-96.7-216-216C184,182,280.7,84,400,84"
    );
  }
  50% {
    d: path(
      "M400.2,52c0,0,0,0,218,378c0,0,0,0,0,0c0,0,0,0-437,0c0,0,0,0,0,0C182,430,400.2,52,400.2,52"
    );
  }
  // 40% ,50%{
  //   d: path(
  //     "M353,532c0,0,0-459.6,0-461c0,0,0,0,0,0c0-1,95.8,0,98,0c1,0,1,460,0,461C451,533,353,532,353,532"
  //   );
  // }
  // 100% {
  //   d: path(
  //     "M264.3,485.2c0,0 0,0,-85.3-258.2c0,0 0,0,220.1-160c0,0 0,0,217,161c0,0 0,0,-79,258.2C536,487,264.3,485.2,264.3,485.2"
  //   );
  // }

}


#animate1 {
  animation: deform 4s ease infinite;
  stroke: black
}

path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 10;
  // stroke-dasharray: 339 1017;
  fill: none;
}
