.box {
  position: absolute;
  top: 300px;
  left: 500px;
  width: 200px;
  height: 90px;
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -21px 0 0 -21px;
  width: 42px;
  height: 42px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  background-size: 100% auto;
  offset-rotate: 0deg;
  -webkit-transition: .8s;
  transition: .8s;
}

.translate .ball1 {
  -webkit-transform: translate3d(-100px, -50px, 0);
          transform: translate3d(-100px, -50px, 0);
}

.translate .ball2 {
  -webkit-transform: translate3d(-200px, 0px, 0);
          transform: translate3d(-200px, 0px, 0);
}

.translate .ball3 {
  -webkit-transform: translate3d(-220px, -90px, 0);
          transform: translate3d(-220px, -90px, 0);
}

.translate .ball4 {
  -webkit-transform: translate3d(-180px, -90px, 0);
          transform: translate3d(-180px, -90px, 0);
}

.ball1 {
  offset-path: path("M101.74,0.3c54.27,0.5,97.93,20.45,97.93,44.99c0,24.85-44.77,45-100,45s-100-20.15-100-45s44.77-45,100-45\a     L101.74,0.3z");
}

.ball2 {
  offset-path: path("M199.39,48.68c-3.84,23.27-47.02,41.62-99.72,41.62c-55.23,0-100-20.15-100-45s44.77-45,100-45\a     s100,20.15,100,45L199.39,48.68z");
}

.ball3 {
  offset-path: path("M97.87,90.29c-46.6-0.51-97.81-24.21-98.2-44.99c-0.4-21.31,52.5-45,100-45c55.23,0,100,20.15,100,45\a     s-44.77,45-100,45L97.87,90.29z");
}

.ball4 {
  offset-path: path("M1.01,41.59c4.7-23.02,47.21-41.3,99.67-41.3c55.23,0,100,20.15,100,45s-44.77,45-100,45s-100-20.15-100-45\a 	C0.67,45.29,0.82,42.52,1.01,41.59z");
}

.ball5 {
  offset-path: path("M156.03,7.81c26.91,8.06,44.64,21.84,44.64,37.48c0,24.85-44.77,45-100,45s-100-20.15-100-45s44.77-45,100-45\a 	c18.78,0,36.35,2.33,51.36,6.38L156.03,7.81z");
}

.ball6 {
  offset-path: path("M161.07,81.16c-16.78,5.73-37.71,9.13-60.4,9.13c-55.23,0-100-20.15-100-45s44.77-45,100-45s100,20.15,100,45\a     c0,13.84-13.88,26.22-35.73,34.48L161.07,81.16z");
}

.ball7 {
  offset-path: path("M46.3,83.07C18.84,75.05,0.67,61.12,0.67,45.29c0-24.85,44.77-45,100-45s100,20.15,100,45s-44.77,45-100,45\a 	c-18.81,0-36.41-2.34-51.44-6.4L46.3,83.07z");
}

.ball8 {
  offset-path: path("M40.29,9.42c16.78-5.73,37.7-9.13,60.39-9.13c55.23,0,100,20.15,100,45s-44.77,45-100,45s-100-20.15-100-45\a     c0-13.96,14.12-26.43,36.28-34.68L40.29,9.42");
}

.ani .ball1 {
  -webkit-animation: move1 10s linear infinite;
          animation: move1 10s linear infinite;
}

.ani .ball2 {
  -webkit-animation: move2 10s linear infinite;
          animation: move2 10s linear infinite;
}

.ani .ball3 {
  -webkit-animation: move3 10s linear infinite;
          animation: move3 10s linear infinite;
}

.ani .ball4 {
  -webkit-animation: move4 10s linear infinite;
          animation: move4 10s linear infinite;
}

.ani .ball5 {
  -webkit-animation: move5 10s linear infinite;
          animation: move5 10s linear infinite;
}

.ani .ball6 {
  -webkit-animation: move6 10s linear infinite;
          animation: move6 10s linear infinite;
}

.ani .ball7 {
  -webkit-animation: move7 10s linear infinite;
          animation: move7 10s linear infinite;
}

.ani .ball8 {
  -webkit-animation: move8 10s linear infinite;
          animation: move8 10s linear infinite;
}

@-webkit-keyframes move1 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes move1 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes move2 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  25% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  50% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
}

@keyframes move2 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  25% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  50% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
}

@-webkit-keyframes move3 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  25% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
}

@keyframes move3 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  25% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
}

@-webkit-keyframes move4 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  75% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
}

@keyframes move4 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
  75% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1.9);
            transform: scale(1.9);
  }
}

@-webkit-keyframes move5 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
  25% {
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
  37.5% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  85.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
}

@keyframes move5 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
  25% {
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
  37.5% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  85.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
}

@-webkit-keyframes move6 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
  12.5% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  37.5% {
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
  65.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
}

@keyframes move6 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
  12.5% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  37.5% {
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
  65.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
}

@-webkit-keyframes move7 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
  37.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85.5% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
}

@keyframes move7 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
  37.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85.5% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(2.35);
            transform: scale(2.35);
  }
}

@-webkit-keyframes move8 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
  12.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65.5% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
}

@keyframes move8 {
  0% {
    offset-distance: 0%;
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
  12.5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65.5% {
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
  }
  100% {
    offset-distance: 100%;
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
  }
}
/*# sourceMappingURL=group.css.map */