<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>仿 windows 10 日历</title>
  <link rel="stylesheet" href="css/calendar.css">
</head>

<body>
  <div id="app">
    <div class="wrapper">
      <div class="time">
        <p id="timeText" class="time__text">{{time}}</p>
        <p id="timeDate" class="time__date">{{timeDate}}</p>
      </div>
      <div class="calendar">
        <div class="header">
          <p  class="change-date">{{changeDate}}</p>
          <div class="button">
            <button @click="handlePrev"><i class="arrow arrow--up"></i></button>
            <button @click="handleNext"><i class="arrow arrow--down"></i></button>
          </div>
        </div>
        <!-- 日期 -->
        <div class="date-wrapper">
          <div class="week-list">
            <span v-for="(item, index) in weekList" :key="index">{{item}}</span>
          </div>
          <div class="date-list">
            <ul class="date-list__items" :style="styleObject">
              <li class="date-list__item" :class="{'is-disabled': item.disabled, 'is-current': item.current}"  v-for="(item, index) in dateList" :key="index"> 
                <span>{{item.day}}</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- 月份 -->
        <div id="monthList" class="grid-list"></div>
        <!-- 年份 -->
        <div id="yearList" class="grid-list" ></div>
      </div>
    </div>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/calendar-vue.js"></script>
  <script>
    
  </script>
</body>

</html>